<div *ngIf="isProducersChecked === true" style="height: 100%">
  <div
    class="card-header pb-0 pt-3 bg-transparent row"
    isConsumersChecked="true;"
    isProducersChecked="false;"
    style="margin-left: 0; margin-right: 0; margin-bottom: 2px"
  >
    <div class="col-md-5 pb-2">
      <h6 class="text-capitalize">Current Top 5 Producers</h6>
    </div>
    <div
      class="col-md-7"
      style="display: flex; justify-content: right; margin: auto; padding: 1px"
    >
      <div class="form-check mx-3">
        <input
          class="form-check-input"
          type="radio"
          name="radioOption"
          id="consumersOption"
          (change)="onRadioButtonChange($event, 'consumers')"
          [checked]="isConsumersChecked"
        />
        <label class="form-check-label" for="consumersOption">
          Consumers
        </label>
      </div>

      <div class="form-check mx-3">
        <input
          class="form-check-input"
          type="radio"
          name="radioOption"
          id="producersOption"
          (change)="onRadioButtonChange($event, 'producers')"
          [checked]="isProducersChecked"
        />
        <label class="form-check-label" for="producersOption">
          Producers
        </label>
      </div>
    </div>
  </div>
  <div class="table-responsive h-100" style="width: 90%; margin: 0 auto">
    <table class="table align-items-center">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Consumption</th>
          <th>Production</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of producers">
          <td>{{ item.FirstName }} {{ item.LastName }}</td>
          <td>{{ item.Address }}</td>
          <td>{{ item.Consumption.toFixed(2) }} kW</td>
          <td>{{ item.Production.toFixed(2) }} kW</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="isConsumersChecked === true" style="height: 100%">
  <div
    class="card-header pb-0 pt-3 bg-transparent row"
    style="margin-left: 0; margin-right: 0; margin-bottom: 2px"
  >
    <div class="col-md-5 pb-2">
      <h6 class="text-capitalize">Current Top 5 Consumers</h6>
    </div>
    <div
      class="col-md-7"
      style="display: flex; justify-content: right; margin: auto; padding: 1px"
    >
      <div class="form-check mx-3">
        <input
          class="form-check-input"
          type="radio"
          name="radioOption"
          id="consumersOption"
          (change)="onRadioButtonChange($event, 'consumers')"
          [checked]="isConsumersChecked"
        />
        <label class="form-check-label" for="consumersOption">
          Consumers
        </label>
      </div>

      <div class="form-check mx-3">
        <input
          class="form-check-input"
          type="radio"
          name="radioOption"
          id="producersOption"
          (change)="onRadioButtonChange($event, 'producers')"
          [checked]="isProducersChecked"
        />
        <label class="form-check-label" for="producersOption">
          Producers
        </label>
      </div>
    </div>
  </div>
  <div class="table-responsive h-100" style="width: 90%; margin: 0 auto">
    <table class="table align-items-center">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Consumption</th>
          <th>Production</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of consumers">
          <td>{{ item.FirstName }} {{ item.LastName }}</td>
          <td>{{ item.Address }}</td>
          <td>{{ item.Consumption.toFixed(2) }} kW</td>
          <td>{{ item.Production.toFixed(2) }} kW</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
