<div class="outer">
    <div class="container">
        <div class="row">
            <div class="levo">
                <label id="text">Register New User</label>
            </div>
            <div class="desno">
                <div class="panelbor">
                    <div class="panel-body">
                        <form>                               
                             <div class="form-group pt-3">
                                    <div class="input-field">
                                        <label class="lbl">Name:</label>
                                        <br>
                                        <span class="polje">
                                            
                                            <input type="text" placeholder="First and Last name">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group pt-3">
                                    <div class="input-field">
                                        <label class="lbl">Username:</label>
                                        <br>
                                        <span class="polje">
                                            <input type="text" placeholder="Username">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group pt-3">
                                    <div class="input-field">
                                        <label class="lbl">E-mail:</label>
                                        <br>
                                        <span class="polje">
                                            <input type="text" placeholder="User E-mail Address">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group pt-3">
                                    <div class="input-field">
                                        <label class="lbl">Address:</label>
                                        <br>
                                        <span class="polje">
                                            <input type="text" placeholder="User Address">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group pt-3">
                                    <div class="input-field">
                                        <label class="lbl">Neighborhood:</label>
                                        <br>
                                        <span class="polje">
                                            <input type="text" placeholder="Neighborhood">
                                        </span>
                                    </div>
                                </div>
                            <button type="submit" class="btn">
                                Confirm
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>