<CDBSidebar
  textColor="#5875A1"
  backgroundColor="#DFEFF6"
  style="margin: 0; height: 90vh; width: 100%"
>
  <div class="informacije">
    <img
      src="assets/images/consumption.png"
      style="width: 100px; height: 100px; margin-top: 50px"
    />
    <h6>Num. Of Devices</h6>
  </div>
  <CDBSidebarContent class="content" style="height: 100%">
    <div class="div1">
      <div class="divlevo">
        <img
          src="assets/images/consumption.png"
          style="width: 100px; height: 100px"
        /><br />
        <p>{{ myData.consumption }} kW</p>
        <p>Current consumption</p>
      </div>
      <div class="divdesno">
        <img
          src="assets/images/production.png"
          style="width: 100px; height: 100px"
        /><br />
        <p>{{ myData.production }} kW</p>
        <p>Current production</p>
      </div>
      <div class="divdugmici2">
        <div class="divdugmici">
          <button id="dugme1" class="donjidugmici">View More</button>
          <br />
        </div>
      </div>
      <app-history-Prosumer></app-history-Prosumer>
    </div>
  </CDBSidebarContent>
</CDBSidebar>
