<div
  class="modal fade"
  id="Modal2"
  tabindex="-1"
  aria-labelledby="Modal2Label"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-lg" style="width: 60%">
    <div class="modal-content">
      <div class="modal-header text-white" style="background-color: #566787;">
        <h5 class="modal-title" id="Modal2Label">
          Edit Employee
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="closeBtn1"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <img
            src="assets/images/default-image.png"
            style="
              height: 15%;
              width: 15%;
              justify-content: center;
              margin-bottom: 2%;
            "
          />

          <button
            style="
              background-color: #566787;
              margin-left: 10%;
              text-align: center;
              color: white;
              font-weight: bold;
              font-size: 14px;
              border: none;
              width: 20%;
              border-radius: 5px;
            "
          >
            <span
              ><i
                style="color: #d6d9df; font-size: 16px; margin-top: 0%"
                class="material-icons"
                >edit</i
              >
              Change photo</span
            >
          </button>
        </div>
        <div class="mb-3" style="width: 50%; float: left">
          <label
            for="firstName"
            class="form-label"
            style="width: 90%; color: #566787; font-weight: bold"
            >First Name</label
          >
          <input
            type="text"
            class="form-control"
            id="firstName"
            [(ngModel)]="firstName"
            placeholder="First Name"
            style="
              width: 90%;
              border: 1px solid #566787;
              color: #566787;
              background-color: #e8f3f8;
              font-weight: 600;
            "
          />
        </div>
        <div class="mb-3" style="width: 50%; float: left">
          <label
            for="lastName"
            class="form-label"
            style="width: 90%; color: #566787; font-weight: bold"
            >Last Name</label
          >
          <input
            type="text"
            class="form-control"
            id="lastName"
            [(ngModel)]="lastName"
            placeholder="Last Name"
            style="
              width: 90%;
              border: 1px solid #566787;
              color: #566787;
              background-color: #e8f3f8;
              font-weight: 600;
            "
          />
        </div>
        <div class="mb-3" style="width: 50%; float: left">
          <label
            for="salary"
            class="form-label"
            style="width: 90%; color: #566787; font-weight: bold"
            >Salary</label
          >
          <input
            type="text"
            class="form-control"
            id="salary"
            [(ngModel)]="salary"
            placeholder="Salary"
            style="
              width: 90%;
              border: 1px solid #566787;
              color: #566787;
              background-color: #e8f3f8;
              font-weight: 600;
            "
          />
        </div>
        <div class="mb-3" style="width: 50%; float: left">
          <div class="mb-3">
            <label
              for="role"
              class="form-label"
              style="width: 90%; color: #566787; font-weight: bold"
              >Role</label
            >
            <select
              class="dropdown dropdown-toggle"
              name="model"
              [(ngModel)]="role"
              (change)="ChangeRole($event)"
              class="form-control"
              style="
                width: 90%;
                border: 1px solid #566787;
                color: #566787;
                background-color: #e8f3f8;
                font-weight: 600;
              "
            >
              <option value="0">Choose Role</option>
              <option *ngFor="let item of Role" [ngValue]="item.id">
                {{ item.roleName }}
              </option>
            </select>
          </div>
        </div>
        <div class="mb-3" style="width: 50%; float: left">
          <div class="mb-3">
            <label
              for="role"
              class="form-label"
              style="width: 90%; color: #566787; font-weight: bold"
              >Role</label
            >
            <select
              class="dropdown dropdown-toggle"
              name="model"
              [(ngModel)]="region"
              (change)="ChangeRole($event)"
              class="form-control"
              style="
                width: 90%;
                border: 1px solid #566787;
                color: #566787;
                background-color: #e8f3f8;
                font-weight: 600;
              "
            >
              <option value="0">Choose Role</option>
              <option *ngFor="let item of Region" [ngValue]="item.id">
                {{ item.regionName }}
              </option>
            </select>
          </div>
        </div>
        <div class="mb-3" style="width: 50%; float: left">
          <label
            for="email"
            class="form-label"
            style="width: 90%; color: #566787; font-weight: bold"
            >Email</label
          >
          <input
            type="text"
            class="form-control"
            id="email"
            [(ngModel)]="email"
            placeholder="Email"
            style="
              width: 90%;
              border: 1px solid #566787;
              color: #566787;
              background-color: #e8f3f8;
              font-weight: 600;
            "
          />
        </div>
        <div class="mb-3" style="width: 50%;">
          <label
            for="password"
            class="form-label"
            style="width: 90%; color: #566787; font-weight: bold"
            >Password</label
          >
          <input
            type="text"
            class="form-control"
            id="password"
            [(ngModel)]="password"
            placeholder="Password"
            style="
              width: 90%;
              border: 1px solid #566787;
              color: #566787;
              background-color: #e8f3f8;
              font-weight: 600;
            "
          />
        </div>
      </div>
      <div class="modal-footer" style="display: flex; justify-content: center">
        <button
          type="button"
          class="btn"
          style="background-color: #566787; color: white; width: 40%"
          (click)="onUpdate(id)"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
