<div *ngIf="isProducersChecked === true">
  <div
    class="card-header pb-0 pt-3 bg-transparent row"
    style="margin-left: 0; margin-right: 0"
  >
    <div class="col-md-5">
      <h6 class="text-capitalize" style="margin-bottom: 2px">
        Consumption per City
      </h6>
    </div>
    <div
      class="col-7"
      style="display: flex; justify-content: right; margin: auto; padding: 1px"
    >
      <div class="form-check mx-3">
        <input
          class="form-check-input"
          type="radio"
          name="radioOption1"
          id="consumersOption1"
          (change)="onRadioButtonChange($event, 'consumers')"
          [checked]="isConsumersChecked"
        />
        <label class="form-check-label" for="consumersOption">
          Consumption
        </label>
      </div>

      <div class="form-check mx-3">
        <input
          class="form-check-input"
          type="radio"
          name="radioOption1"
          id="producersOption1"
          (change)="onRadioButtonChange($event, 'producers')"
          [checked]="isProducersChecked"
        />
        <label class="form-check-label" for="producersOption1">
          Production
        </label>
      </div>
    </div>
  </div>
  <div class="card-body p-0">
    <div style="width: 100%; margin: 0 auto; margin-top: 1%; height: 100%">
      <ngx-charts-pie-chart
        [results]="dataProducers"
        [doughnut]="false"
        [explodeSlices]="true"
        [gradient]="false"
        [legend]="false"
        [labels]="true"
        [scheme]="colorScheme"
        [ariaLabel]="true"
      >
      </ngx-charts-pie-chart>
      <h1
        *ngIf="!production && !consumption"
        style="
          text-align: center;
          margin-top: 15%;
          opacity: 20%;
          font-style: italic;
          font-weight: normal;
        "
      >
        There is no available Data
      </h1>
    </div>
  </div>
</div>
<div *ngIf="isConsumersChecked === true">
  <div
    class="card-header pb-0 pt-3 bg-transparent row"
    style="margin-left: 0; margin-right: 0"
  >
    <div class="col-md-5">
      <h6 class="text-capitalize" style="margin-bottom: 2px">
        Consumption per City
      </h6>
    </div>
    <div
      class="col-7"
      style="display: flex; justify-content: right; margin: auto; padding: 1px"
    >
      <div class="form-check mx-3">
        <input
          class="form-check-input"
          type="radio"
          name="radioOption1"
          id="consumersOption1"
          (change)="onRadioButtonChange($event, 'consumers')"
          [checked]="isConsumersChecked"
        />
        <label class="form-check-label" for="consumersOption1">
          Consumption
        </label>
      </div>

      <div class="form-check mx-3">
        <input
          class="form-check-input"
          type="radio"
          name="radioOption1"
          id="producersOption1"
          (change)="onRadioButtonChange($event, 'producers')"
          [checked]="isProducersChecked"
        />
        <label class="form-check-label" for="producersOption">
          Production
        </label>
      </div>
    </div>
  </div>
  <div class="card-body p-0">
    <div style="width: 100%; margin: 0 auto; margin-top: 1%; height: 100%">
      <ngx-charts-pie-chart
        [results]="dataConsumers"
        [doughnut]="false"
        [explodeSlices]="true"
        [gradient]="false"
        [legend]="false"
        [labels]="true"
        [scheme]="colorScheme"
        [ariaLabel]="true"
      >
      </ngx-charts-pie-chart>
      <h1
        *ngIf="!production && !consumption"
        style="
          text-align: center;
          margin-top: 15%;
          opacity: 20%;
          font-style: italic;
          font-weight: normal;
        "
      >
        There is no available Data
      </h1>
    </div>
  </div>
</div>
