<app-navBar></app-navBar>
<div class="glavni">
    <div class="levi"> 
      <app-sidebar-dso #sidebarInfo></app-sidebar-dso>
  </div>

  <div class="centralni">
                <div class="divinput">
                <form [formGroup]="editUser" (ngSubmit)="UpdateData()">
                  <label>First name:</label><br />
                  <input type="text" name="firstname" formControlName="firstname" /><br />
                  <label>Last name:</label><br />
                  <input type="text" name="lastname" formControlName="lastname" /><br />
                  <label>Email</label><br />
                  <input type="text" name="email" formControlName="email" /><br />

                  <label>Username:</label><br />
                  <input
                    type="text"
                    name="username"
                    [readonly]="true"
                    formControlName="username"
                  /><br />

                  <label>Address:</label><br />
                  <input
                    type="text"
                    name="address"
                    [readonly]="true"
                    [disabled]="true"
                    formControlName="address"
                  /><br />
                  <label>Neighborhood:</label><br />
                  <input
                    type="text"
                    name="neigborhoodId"
                    [readonly]="true"
                    formControlName="neigborhoodId"
                  /><br />
                  <button type="submit" id="dugme">Edit </button>
                </form>
              </div>
  </div>
  <div class="desni">
    
    <app-sidebar-potrosnja></app-sidebar-potrosnja>
  </div>
</div>
