<!-- <app-navBar></app-navBar> -->
<div class="glavni">
  <div class="levi">
    <app-sidebar-dso #sidebarInfo></app-sidebar-dso>
  </div>

  <div class="centralni">
    <div class="divinput">
      <form [formGroup]="editUser" (ngSubmit)="UpdateData()">
        <label>First name:</label><br />
        <input type="text" name="firstName" formControlName="FirstName" /><br />
        <label>Last name:</label><br />
        <input type="text" name="lastName" formControlName="LastName" /><br />
        <label>Email</label><br />
        <input type="text" name="email" formControlName="Email" /><br />
        <input
          id="dugme"
          type="button"
          value="Save"
          routerLink="/dashboard/user/{{ id }}"
          (click)="UpdateData()"
        />
      </form>
    </div>
  </div>
  <div class="desni">
    <app-sidebar-potrosnja></app-sidebar-potrosnja>
  </div>
</div>
