<div class="d-flex flex-column h-100">
  
  <div class="d-flex flex-grow-1">
    <div class="flex-grow-1 col-md-2">
      <app-home-sidebar></app-home-sidebar>
    </div>
    <div class="flex-grow-1 col-md-10"><button (click)="open(content)">add user</button>
      <!-- <app-user-info></app-user-info> -->
      <app-historyAllProsumers></app-historyAllProsumers>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="launchButton" hidden="true">
    Launch demo modal
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title" id="exampleModalLabel">
            <span style="color: #026670; font-size: 25px; font-weight: 700;"> Unable to locate your location </span><br>
            <small>Please enter the coutry you are working for.</small>
          </p>
        </div>
        <div class="modal-body">
          <div class="form-group pt-3">
                <div class="input-group form-group ">
                    <input class="form-control" type="text" [(ngModel)]="currentCountry" (ngModelChange)="Validate($event)" placeholder="Country" style=" width: 150px; height:30px; background-color: #e7e5e5;color:#466471; border-radius: 5px;">
                </div>
            </div>
          <small *ngIf="!validInput"  class="text-danger">Country is required!</small>
      </div>
          <div class="modal-footer">
            <button type="button" (click)="SaveCountry()" class="btn btn-primary" data-bs-dismiss="modal">Confirm</button>
          </div>
    </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Friend</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="firstname">Firstname</label>
        <div class="input-group">
          <input id="firstname" class="form-control" >
        </div>
        
        <label for="lastname">Lastname</label>
        <div class="input-group">
          <input id="lastname" class="form-control" >
        </div>
        
        <label for="password">Password</label>
        <div class="input-group">
          <input id="password" class="form-control" >
        </div>
        
        <label for="email">Email</label>
        <div class="input-group">
          <input id="email" class="form-control" >
        </div>
        
        <label for="selectcity">Select City</label>
        <div class="input-group">
          <input id="firstname" class="form-control" >
        </div>
        

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>