<div
  class="app"
  style="display: flex; height: 89.1vh; overflow: scroll initial"
>
  <CDBSidebar textColor="#ffffff" backgroundColor="#59747F" style="margin: 0">
    <CDBSidebarHeader [prefix]="icon" style="font-weight: 600">
      <ng-template #icon>
        <i class="fa fa-lg fa-bars" style="font-size: 1.5"></i>
      </ng-template>
      Menu</CDBSidebarHeader
    >

    <CDBSidebarContent>
      <CDBSidebarMenu class="sidebar-content">
        <CDBSidebarMenuItem link="/" icon="fa-lg fa-home">
          <strong>Home </strong></CDBSidebarMenuItem
        >
        <CDBSidebarMenuItem link="/view" icon="fa-lg fa-list">
          <strong>View All Devices</strong>
        </CDBSidebarMenuItem>
        <CDBSidebarMenuItem href="/add" icon="fa-lg fa-plus">
          <span><strong>Add New Device</strong></span>
        </CDBSidebarMenuItem>
        <CDBSidebarMenuItem link="/profile" icon="user">
          <strong>Profile</strong>
        </CDBSidebarMenuItem>
      </CDBSidebarMenu>
    </CDBSidebarContent>
    <div class="mt-auto">
      <CDBSidebarFooter>
        <CDBSidebarMenuItem link="/login" icon="sign-out">
          <strong>Log Out</strong>
        </CDBSidebarMenuItem>
      </CDBSidebarFooter>
    </div>
  </CDBSidebar>
</div>
