<div
  class="modal fade"
  id="exampleModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" style="width: 60%">
    <div class="modal-content">
      <div class="modal-header text-white" style="background-color: #566787;">
        <h5 class="modal-title" id="exampleModalLabel">
          Employee Info
        </h5>
        <button
          type="button"
          id="closeBtn"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" style="justify-content: center; align-items: center; padding-left: 7%;">
        <div class="slika">
          <img
            src="assets/images/default-image.png"
            style="
              height: 15%;
              width: 15%;
              justify-content: center;
              margin-left: 40%;
            "
          />
          <div style="margin-top: 5%; margin-left: 23%; margin-bottom: 3%">
            <button
              data-bs-target="#Modal2"
              data-bs-toggle="modal"
              (click)="update(id)"
              style="
                background-color: #d6d9df;
                margin-left: 10%;
                text-align: center;
                color: #566787;
                font-weight: bold;
                font-size: 16px;
                border: none;
                width: 100px;
                border-radius: 5px;
              "
            >
              <span
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
                ><i
                  style="color: #566787; font-size: 16px; margin-top: 5%"
                  class="material-icons"
                  >edit</i
                >
                Edit</span
              >
            </button>
            <app-editemployee></app-editemployee>
            <button
              (click)="onDelete(id)"
              data-bs-dismiss="modal"
              style="
                background-color: #d6d9df;
                margin-left: 10%;
                text-align: center;
                color: #566787;
                font-weight: bold;
                font-size: 16px;
                border: none;
                width: 100px;
                border-radius: 5px;
              "
            >
              <span
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
                ><i
                  style="color: #566787; font-size: 16px; margin-top: 5%"
                  class="material-icons"
                  >delete</i
                >
                Delete</span
              >
            </button>
          </div>
          <div class="mb-3">
            <label
              for="firstName"
              class="form-label"
              style="width: 90%; color: #566787; font-weight: bold"
              >First Name</label
            >
            <input
              [disabled]="true"
              type="text"
              class="form-control"
              id="firstName"
              [(ngModel)]="firstName"
              placeholder="First Name"
              style="
                width: 95%;
                color: #d6d9df;
                background-color: #566787;
                font-weight: bold;
              "
            />
          </div>
          <div class="mb-3">
            <label
              for="lastName"
              class="form-label"
              style="width: 90%; color: #566787; font-weight: bold"
              >Last Name</label
            >
            <input
              [disabled]="true"
              type="text"
              class="form-control"
              id="lastName"
              [(ngModel)]="lastName"
              placeholder="Last Name"
              style="
                width: 95%;
                color: #d6d9df;
                background-color: #566787;
                font-weight: bold;
              "
            />
          </div>
          <div class="mb-3" style="width: 50%; float: left">
            <label
              for="dateCreate"
              class="form-label"
              style="width: 90%; color: #566787; font-weight: bold"
              >Starting Date</label
            >
            <input
              [disabled]="true"
              type="text"
              class="form-control"
              id="dateCreate"
              [(ngModel)]="dateCreate"
              placeholder="Date Create"
              style="
                width: 90%;
                color: #d6d9df;
                background-color: #566787;
                font-weight: bold;
              "
            />
          </div>
          <div class="mb-3" style="width: 50%; float: left">
            <label
              for="salary"
              class="form-label"
              style="width: 90%; color: #566787; font-weight: bold"
              >Salary</label
            >
            <input
              [disabled]="true"
              type="text"
              class="form-control"
              id="salary"
              [(ngModel)]="salary"
              placeholder="Salary"
              style="
                width: 90%;
                color: #d6d9df;
                background-color: #566787;
                font-weight: bold;
              "
            />
          </div>
          <div class="mb-3" style="width: 50%; float: left">
            <label
              for="role"
              class="form-label"
              style="width: 90%; color: #566787; font-weight: bold"
              >Role</label
            >
            <input
              [disabled]="true"
              type="text"
              class="form-control"
              id="role"
              [(ngModel)]="roleName"
              placeholder="Role"
              style="
                width: 90%;
                color: #d6d9df;
                background-color: #566787;
                font-weight: bold;
              "
            />
          </div>
          <div class="mb-3" style="width: 50%; float: left">
            <label
              for="region"
              class="form-label"
              style="width: 90%; color: #566787; font-weight: bold"
              >Region</label
            >
            <input
              [disabled]="true"
              type="text"
              class="form-control"
              id="region"
              [(ngModel)]="regionName"
              placeholder="Region"
              style="
                width: 90%;
                color: #d6d9df;
                background-color: #566787;
                font-weight: bold;
              "
            />
          </div>
          <div class="mb-3">
            <label
              for="email"
              class="form-label"
              style="width: 90%; color: #566787; font-weight: bold"
              >E-mail</label
            >
            <input
              [disabled]="true"
              type="text"
              class="form-control"
              id="email"
              [(ngModel)]="email"
              placeholder="E-mail"
              style="
                width: 95%;
                color: #d6d9df;
                background-color: #566787;
                font-weight: bold;
              "
            />
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

