<nav class="navbar" aria-label="Dark offcanvas navbar" style="background-color: #C1DFD5;">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Dark offcanvas navbar</a> -->
      <img class="img-fluid" src="assets/logo.png" style="max-width: 150px;"/>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
        <div class="offcanvas-header" style="background-color: #59747F;">
          <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel"></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-1">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="#"><i class="fa fa-home"></i>&nbsp;Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-user"></i>&nbsp;View Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-list"></i>&nbsp;View Devices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-plus-square"></i>&nbsp;Add New Device</a>
            </li>
            <li class="nav-item last">
                <a class="nav-link" href="#"><i class="fa fa-sign-out"></i>&nbsp;Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
