<div class="container mx-0 my-0 px-0 py-0 h-100" id="side">
    <div class="row h-100">
        <div style="background-color: #5875a1;" class="h-100">
            <div class="d-flex flex-column px-3 text-white text-center align-items-center justify-content-center">
                <div class="container px-2 py-4">
                    <div class="section mb-4">
                        <p class="mb-0">Region</p>
                        <h3><b>{{region}}</b></h3>
                    </div>
                    <div class="section mb-4">
                        <p class="mb-0">Current Consumption</p>
                        <h3><b>{{currConsumption}} kw</b></h3>
                    </div>
                    <div class="section mb-4">
                        <p class="mb-0">Current Production</p>
                        <h3><b>{{currProduction}} kw</b></h3>
                    </div>
                    <div class="section mb-4">
                        <p class="mb-0">Current System Status</p>
                        <h3>Piechart Graph Here</h3>
                    </div>
                    <div class="section">
                        <p class="mb-0">Num. Of Users</p>
                        <h3><b>{{numOfUsers}}</b></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
