p {
  font-family: "Open Sans";
}

::ng-deep #grid text {
  fill: white; /* Replace with your desired text color */
}

.container {
  width: 100%; /* or any desired value */
}

.arc {
  stroke: #fff;
  stroke-width: 2px;
}

#chart {
  width: 100%; /* or any desired value */
}

svg {
  overflow: visible;
}
