<main
  class="main-content position-relative border-radius-lg"
  style="overflow-y: scroll; max-height: 89.1vh"
>
  <div class="container-fluid py-4 " id="deviceInfoDataContainer">
    <div class="row">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="row" >
          <div class="col-lg-12 mb-lg-0 mb-4 ">
            <div class="card z-index-2 h-100">
              <div class="card-header" style="margin-left: 0; margin-right: 0; display: flex; align-items: center; padding-top: 2%; padding-bottom: 2%; padding-left: 3%;">
                <h6 style="color:#08376b;">Device Information</h6>
                <br/>
              </div>
              <hr class="mt-0 mb-4" />
              <div class="row pt-1 mx-0 my-0">
                <div class="col-6 mb-1" style="padding-left: 3%;">
                  <h6 style="color: #08376b">{{ IpAddress }}</h6>
                  <p class="text-muted">IP Address</p>
                </div>
                <div class="col-6 mb-1">
                  <h6 style="color: #08376b">{{ TypeName }}</h6>
                  <p class="text-muted">Device Type</p>
                </div>
              </div>
              <hr class="mt-0 mb-4" />
              <div class="row pt-1 mx-0 my-0">
                <div class="col-6 mb-1" style="padding-left: 3%;">
                  <h6 style="color: #08376b">{{ ModelName }}</h6>
                  <p class="text-muted">Device Model</p>
                </div>
                <div class="col-6 mb-1">
                  <h6 style="color: #08376b">{{ Name }}</h6>
                  <p class="text-muted">Device Name</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-xl-12 col-sm-2 mb-xl-0 mb-4" >
            <div class="card">
              <div class="card-body p-3" id="consumptionLimitCardBody" style="display:flex;justify-content: center;">
                <div class="row" >
                  <div class="col-12" id="consumptionLimitBody">
                    <div class="numbers" >
                      <ngx-gauge [type]="'semi'" 
                        [value]="currentUsage"
                        [label]="type"  
                        [append]="'kWh'"
                        [min]="0"
                        [max]="maxUsageNumber"
                        [size]="width"
                        [cap]="'butt'"
                        [valueFormatting]="formatValue"
                        [thick]="45"
                        [markers]="markers"
                        [thresholds]="thresholds"
                      >
                      </ngx-gauge>
                    </div>
                    <div class="legend w-100 text-center">
                      <i class="fa fa-circle greenZone"
                        >&nbsp;0-{{ AvgUsage }} kWh</i
                        >&nbsp;&nbsp;&nbsp;
                      <i class="fa fa-circle blueZone"
                        >&nbsp; {{ AvgUsage }}-{{ MaxUsage }} kWh</i
                        >&nbsp;&nbsp;&nbsp;
                      <i class="fa fa-circle redZone">&nbsp;{{ MaxUsage }}+ kWh</i>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-xl-6 col-sm-2 mb-xl-0 mb-4"  >
            <div class="card" style="display:flex;justify-content: center;">
              <div class="card-body p-3" style="display:flex;justify-content: center;">
                <div class="row">
                  <div class="col-12">
                    <div class="numbers">
                      <ngx-gauge [type]="'semi'" 
                        [value]="MaxUsage"
                        [label]="'Maximum hourly '+ type"  
                        [append]="'kWh'"
                        [min]="0"
                        [max]="maxUsageNumber"
                        [size]="150"
                        [cap]="'butt'"
                        [thick]="10"
                      >
                      </ngx-gauge>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-sm-2 mb-xl-0 mb-4" >
            <div class="card" style="display:flex;justify-content: center;">
              <div class="card-body p-3" style="display:flex;justify-content: center;">
                <div class="row">
                  <div class="col-12">
                    <div class="numbers">
                    <ngx-gauge [type]="'semi'" 
                      [value]="AvgUsage"
                      [label]="'Average hourly '+type"  
                      [append]="'kWh'"
                      [min]="0"
                      [max]="maxUsageNumber"
                      [size]="150"
                      [cap]="'butt'"
                      [thick]="10">
                  </ngx-gauge>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card p-0 mb-4">
          <app-realizationDevice [type]="type"></app-realizationDevice>
        </div>
        <div class="card p-0 mb-4">
          <app-predictionDevice [type]="type"></app-predictionDevice>
        </div>
      </div>       
    </div>
  </div>
</main>
