.greenZone {
  color: green;
}
.blueZone {
  color: #d96d2a;
}
.redZone {
  color: #c14b48;
}

.off {
  color: red;
  font-size: 24px;
}
.on {
  color: green;
  font-size: 24px;
}
.card {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}