<app-navBar></app-navBar>
<div style="display:flex;">
    <app-sidebar-dso></app-sidebar-dso>
<div  style="width:100%;height:100vh;margin-top:0%;margin-left:5%;justify-content: center;">
    <div class="col-md-6" style="float:left;">
    <form style="padding-top:10%;">
        <div class="form-group pt-3" >
          <label style=" color: #566787; font-weight: bold"
            >IP Address</label
          >
          <input
            style="
              width:90%;
              color: #5875A1;
              background-color: #E8F3F8;
              font-weight: bold;
              border:none;
            "
            type="text"
            class="form-control"
            formControlName=""
          />
        </div>
        <div class="form-group pt-3">
          <label style="width: 90%; color: #566787; font-weight: bold"
            >Device Type</label
          >
          <input
            style="
              width:90%;
              color: #5875A1;
              background-color: #E8F3F8;
              font-weight: bold;
              border:none;
            "
            type="text"
            class="form-control"
            formControlName=""
          />
        </div>
      
        <div class="form-group pt-3">
          <label style="width: 90%; color: #566787; font-weight: bold"
            >Device Model</label
          >
          <input
            style="
              width:90%;
              color: #5875A1;
              background-color: #E8F3F8;
              font-weight: bold;
              border:none;
            "
            type="text"
            class="form-control"
            formControlName=""
          />
        </div>
        <div class="form-group pt-3" >
          <label style="width: 90%; color: #566787; font-weight: bold"
            >Device Name</label
          >
          <input
            style="
              width:90%;
              color: #5875A1;
              background-color: #E8F3F8;
              font-weight: bold;
              border:none;
            "
            type="text"
            class="form-control"
            formControlName=""
          />
        </div>
     
      <div class="form-group pt-3" >
        <label style="width: 90%; color: #566787; font-weight: bold"
          >Maximum hourly consumption</label
        >
        <input
          style="
           width:90%;
              color: #5875A1;
              background-color: #E8F3F8;
              font-weight: bold;
              border:none;
          "
          type="text"
          class="form-control"
          formControlName=""
        />
      </div>
      <div class="form-group pt-3" >
        <label style="width: 90%; color: #566787; font-weight: bold"
          >Average hourly consumption</label
        >
        <input
          style="
            width:90%;
              color: #5875A1;
              background-color: #E8F3F8;
              font-weight: bold;
              border:none;
              
          "
          type="text"
          class="form-control"
          formControlName=""
        />
      </div>
      <div>
        <mat-slide-toggle style="margin-top:7%;color:#566787;font-weight: bold;" [disabled]="disabled" [checked]="checked"  [color]="color">Allowed DSO to control</mat-slide-toggle>
      </div>
      
    </form>
</div>
<div class="col-md-6" style="background-color: #DFEFF6;height:90vh;float:left;">
    <button
          type="button"
          id="closeBtn1"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          style="margin-left:95%;margin-top:1%;"
        ></button>
    <div style="background-color: #DFEFF6;">
        
        <label style="padding-top:20%;margin-left:44%;color: #5875A1;font-weight: bold;">Consumption</label><br>
        <label style="margin-left:49%;color: #5875A1;font-weight: bold;">kWh</label><br>
        <img src="assets/images/consumption2.png" style="width:20%;height:20%;margin-left:42%;">
        <br>
        <label style="padding-top:8%;margin-left:36%;color: #5875A1;font-weight: bold;">Realization and Prediction</label>
    </div>
</div>
</div>
  </div>