<!-- <app-navBar></app-navBar> -->
<div style="display: flex" class="h-100 px-0 py-0 mx-0 my-0">
  <app-sidebar-dso></app-sidebar-dso>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" style="margin-top: 25%;" role="status" *ngIf="loader">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div
    style="
      width: 100%;
      height: 100%;
      margin-top: 0%;
      margin-left: 5%;
      justify-content: center;
    "
    *ngIf="!loader"
  >
    <div class="col-md-6" style="float: left">
      <form style="padding-top: 20%; justify-content: center">
        <div style="width: 100%">
          <label
            style="
              color: #8ea2bf;
              font-weight: bold;
              font-size: 18px;
              width: 50%;
              float: left;
            "
            >IP Address:</label
          >
          <label
            style="
              width: 50%;
              float: left;
              color: #5875a1;
              font-weight: bold;
              border: none;
              font-size: 18px;
              resize: none;
              margin-top: -1.5%;
              margin-bottom: 5%;
            "
            class="form-control"
            >{{ results.IpAddress }}</label
          >
        </div>
        <div>
          <label
            style="
              color: #8ea2bf;
              font-weight: bold;
              font-size: 18px;
              width: 50%;
              float: left;
            "
            >Device Type:</label
          >
          <label
            style="
              width: 50%;
              float: left;
              color: #5875a1;
              font-weight: bold;
              border: none;
              font-size: 18px;
              resize: none;
              margin-top: -1.5%;
              margin-bottom: 5%;
            "
            class="form-control"
            >{{ results.TypeName }}</label
          >
        </div>

        <div>
          <label
            style="
              color: #8ea2bf;
              font-weight: bold;
              font-size: 18px;
              width: 50%;
              float: left;
            "
            >Device Model:</label
          >
          <label
            style="
              width: 50%;
              float: left;
              color: #5875a1;
              font-weight: bold;
              border: none;
              font-size: 18px;
              resize: none;
              margin-top: -1.5%;
              margin-bottom: 5%;
            "
            class="form-control"
            >{{ results.Manufacturer }}</label
          >
        </div>
        <div>
          <label
            style="
              color: #8ea2bf;
              font-weight: bold;
              font-size: 18px;
              width: 50%;
              float: left;
            "
            >Device Name:</label
          >
          <label
            style="
              width: 50%;
              float: left;
              color: #5875a1;
              font-weight: bold;
              border: none;
              font-size: 18px;
              resize: none;
              margin-top: -1.5%;
              margin-bottom: 5%;
            "
            class="form-control"
            >{{ results.Name }}</label
          >
        </div>

        <div>
          <label
            style="
              color: #8ea2bf;
              font-weight: bold;
              font-size: 18px;
              width: 50%;
              float: left;
            "
            >Maximum hourly consumption:</label
          >
          <label
            style="
              width: 50%;
              float: left;
              color: #5875a1;
              font-weight: bold;
              border: none;
              font-size: 18px;
              resize: none;
              margin-top: 1%;
              margin-bottom: 7%;
            "
            class="form-control"
            >{{ results.MaxUsage }}kWh</label
          >
        </div>
        <div style="clear: both; padding-top: 5%">
          <label
            style="
              color: #8ea2bf;
              font-weight: bold;
              font-size: 18px;
              width: 50%;
              float: left;
            "
            >Average hourly consumption:</label
          >
          <label
            style="
              width: 50%;
              float: right;
              color: #5875a1;
              font-weight: bold;
              border: none;
              font-size: 18px;
              resize: none;
              margin-top: 1%;
              margin-bottom: 5%;
            "
            class="form-control"
            >{{ results.AvgUsage }}kWh</label
          >
        </div>
        <div style="clear: both">
          <!-- <mat-slide-toggle style="margin-top:7%;color:#566787;font-weight: bold;" [disabled]="disabled" [checked]="checked"  [color]="color">Allowed DSO to control</mat-slide-toggle>-->
        </div>
      </form>
    </div>
    <div
      class="col-md-6"
      style="background-color: #dfeff6; height: 90vh; float: left"
    >
      <button
        type="button"
        id="closeBtn1"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        style="margin-left: 95%; margin-top: 1%"
      ></button>
      <div style="display: flex; justify-content: center">
        <div style="background-color: #dfeff6">
          <div style="display: flex; justify-content: center">
            <label style="font-size: 18px; color: #5875a1; font-weight: bold"
              >Consumption</label
            ><br />
          </div>
          <div style="display: flex; justify-content: center">
            <label style="font-size: 18px; color: #5875a1; font-weight: bold"
              >{{ currentUsage }}kWh</label
            ><br />
          </div>
          <div style="display: flex; justify-content: center">
            <img
              src="assets/images/consumption2.png"
              style="width: 50%; height: 50%"
            />
          </div>
          <br />
          <div style="display: flex; justify-content: center">
            <label style="font-size: 18px; color: #5875a1; font-weight: bold"
              >Realization and Prediction</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
