<div class="pozadina">
  <section id="okvir">
    <div id="levi">
      <img id="logo" src="assets/images/logo_slogan1.png" alt="" />
    </div>
    <div id="desni">
      <div id="content">
        <h1>Log In</h1>
        <form id="form">
          <div class="input">
            <span>Username</span>
            <input type="text" name="username" />
          </div>
          <div class="password">
            <span>Password</span>
            <input type="password" name="password" />
          </div>
          <div class="input">
            <label id="forgot">Forgot password?</label>
          </div>
          <div class="input">
            <input type="submit" value="Log In" name="password" />
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
