<div
  class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
>
  <h6 class="m-0 font-weight-bold">Consumption Limit</h6>
</div>
<div
  class="card-body"
  style="width: 100%; margin: 0 auto"
  id="consumptionLimitCardBody"
>
  <div
    class="w-100 px-0 py-0 mx-0 my-0"
    style="display: flex; justify-content: center; align-items: center"
    id="consumptionLimitBody"
  >
    <ngx-gauge
      class="text-size"
      [type]="'semi'"
      [size]="width"
      [label]="gaugeLabel"
      [append]="gaugeAppendText"
      [min]="0"
      [max]="2000"
      [markers]="{
        '0': { color: 'black', label: '0' },
        '350': { color: 'black', label: '350' },
        '1600': { color: 'black', label: '1600' }
      }"
      [value]="consumption"
      [cap]="'butt'"
      [thick]="thickness"
      [thresholds]="{
        '0': { color: 'green', bgOpacity: 0.2 },
        '350': { color: '#2a96d9', bgOpacity: 0.2 },
        '1600': { color: '#c14b48', bgOpacity: 0.2 }
      }"
    >
    </ngx-gauge>
  </div>
  <div class="legend w-100 text-center">
    <i class="fa fa-circle greenZone">&nbsp;0-350 kW</i>&nbsp;&nbsp;&nbsp;
    <i class="fa fa-circle blueZone">&nbsp;350-1600 kW</i>&nbsp;&nbsp;&nbsp;
    <i class="fa fa-circle redZone">&nbsp;1600+ kW</i>
  </div>
</div>
