<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold">Consumption Limit</h6>
</div>
<div class="card-body" style="width: 100%; margin: 0 auto;" id="consumptionLimitCardBody">
    <div class="w-100 px-0 py-0 mx-0 my-0 h-md-100" style="display: flex; justify-content: center; align-items: center;" id="consumptionLimitBody">
        <!-- <h1
            *ngIf="loaded"
            style="
            text-align: center;
            margin-top: 15%;
            opacity: 60%;
            font-style: italic;
            font-weight: normal;
            z-index: 100;
            "
        >
            There Is No Available Data
        </h1> -->
        <ngx-gauge
            [type]="'semi'"
            [size]="width"
            [label]="gaugeLabel"
            [append]="gaugeAppendText"
            [min]="0"
            [max]="1700"
            [markers]="{'0':{color:'black', label:'0'}, '350':{color:'black', label:'350'}, '1600':{color:'black', label:'1600'}}"
            [value]="consumption"
            [cap]="'butt'"
            [thick]="30"
            [thresholds]="{'0':{color:'green',bgOpacity:.2},'350':{color:'blue', bgOpacity:.2},'1600':{color:'red', bgOpacity:.2}}">
        </ngx-gauge>
    </div>
    <div class="legend w-100 text-center" *ngIf="true">
        <i class="fa fa-circle greenZone">&nbsp;0-350 kW</i>&nbsp;&nbsp;&nbsp;
        <i class="fa fa-circle blueZone">&nbsp;351-1600 kW</i>&nbsp;&nbsp;&nbsp;
        <i class="fa fa-circle redZone">&nbsp;1601+ kW</i>
    </div>
</div>
