<div>
  <div
    class="card-header pb-0 pt-3 bg-transparent row"
    style="margin-left: 0; margin-right: 0"
  >
    <div
      class="col-md-6"
      style="
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
      "
    >
      <h6 class="text-capitalize" style="margin-bottom: 2px">
        Consumption/Production Prediction &nbsp;<button
          class="btn btn-outline-primary p-0 px-1 m-0"
          data-bs-toggle="modal"
          data-bs-target="#predictionAllProsumersTable"
        >
          <i class="fa fa-table"></i>
        </button>
      </h6>
      <!-- <p class="text-sm mb-0">
        <i class="fa fa-arrow-up text-success"></i>
        <span class="font-weight-bold">4% more</span> in 2021
      </p> -->
    </div>
    <div
      class="col-md-6"
      style="display: flex; justify-content: right; margin: 0px 0px 2px auto"
    >
      <button
        class="btn"
        (click)="PredictionDay()"
        style="margin: 1px"
        type="button"
        class="btn btn-outline-primary"
      >
        24H
      </button>
      <button
        class="btn"
        (click)="Prediction3Days()"
        style="margin: 1px"
        type="button"
        class="btn btn-outline-primary"
      >
        3 Days
      </button>
      <button
        class="btn"
        (click)="PredictionWeek()"
        type="button"
        style="margin: 1px"
        class="btn btn-outline-primary"
      >
        Week
      </button>
    </div>
  </div>

  <div style="width: 100%; margin: 0 auto; margin-top: 1%; height: 100%">
    <ngx-charts-bar-vertical-2d
      *ngIf="data.length !== 0"
      [title]="'Production and Consumption History Chart'"
      [scheme]="colors"
      [results]="data"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false"
      [showDataLabel]="false"
      [animations]="true"
      [barPadding]="3"
      [roundDomains]="true"
      [showGridLines]="true"
      [trimYAxisTicks]="true"
      [tooltipDisabled]="false"
      [noBarWhenZero]="true"
      [yAxisTickFormatting]="yAxisTickFormatting"
      [showGridLines]="true"
    >
    </ngx-charts-bar-vertical-2d>
    <h1
      *ngIf="!production && !consumption"
      style="
        text-align: center;
        margin-top: 15%;
        opacity: 20%;
        font-style: italic;
        font-weight: normal;
      "
    >
      There is no available Data
    </h1>
  </div>
</div>
<div
  class="modal fade"
  id="predictionAllProsumersTable"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="predictionAllProsumersTableLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header text-white" style="background-color: #5875a1">
        <h5 class="modal-title" id="predictionAllProsumersTableLabel">
          Consumption/Production Prediction Table
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body pt-0" style="overflow-y: auto; overflow-x: hidden;" id="modalFadePredictionAllProsumers">
        <app-prediction-all-prosumers-table
          [data]="data"
        ></app-prediction-all-prosumers-table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="exportTable()">
          Export Table
        </button>
      </div>
    </div>
  </div>
</div>
