<div>
  <div
    class="card-header pb-0 pt-3 bg-transparent row"
    style="margin-left: 0; margin-right: 0"
  >
    <div
      class="col-md-5"
      style="
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
      "
    >
      <h6 class="text-capitalize" style="margin-bottom: 2px">
        Consumption/Production History &nbsp;<button
          class="btn btn-outline-primary p-0 px-1 m-0"
          data-bs-toggle="modal"
          data-bs-target="#historyAllProsumersTable"
        >
          <i class="fa fa-table"></i>
        </button>
      </h6>
    </div>
    <div
      class="col-7"
      style="display: flex; justify-content: right; margin: 0px 0px 2px auto"
    >
      <button
        class="btn"
        (click)="HistoryWeek()"
        style="margin: 1px"
        type="button"
        class="btn btn-outline-primary"
      >
        7Days
      </button>
      <button
        class="btn"
        (click)="HistoryMonth()"
        style="margin: 1px"
        type="button"
        class="btn btn-outline-primary"
      >
        1Month
      </button>
      <button
        class="btn"
        (click)="HistoryYear()"
        type="button"
        style="margin: 1px"
        class="btn btn-outline-primary"
      >
        1Year
      </button>
    </div>
  </div>

  <div style="width: 100%; margin: 0 auto; margin-top: 1%; height: 100%">
    <ngx-charts-bar-vertical-2d
      *ngIf="data.length !== 0"
      [title]="'Consumption and Production History Chart'"
      [scheme]="colors"
      [results]="data"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false"
      [showDataLabel]="false"
      [animations]="true"
      [barPadding]="3"
      [roundDomains]="true"
      [trimYAxisTicks]="true"
      [tooltipDisabled]="false"
      [yAxisTickFormatting]="yAxisTickFormatting"
    >
    </ngx-charts-bar-vertical-2d>
    <h1
      *ngIf="!production && !consumption"
      style="
        text-align: center;
        margin-top: 15%;
        opacity: 20%;
        font-style: italic;
        font-weight: normal;
      "
    >
      There is no available Data
    </h1>
  </div>
</div>
<div
  class="modal fade modal-lg"
  id="historyAllProsumersTable"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="historyAllProsumersTableLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-white" style="background-color: #5875a1">
        <h5 class="modal-title" id="historyAllProsumersTableLabel">
          Consumption/Production History Table
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-history-all-prosumers-table
          [data]="data"
        ></app-history-all-prosumers-table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="exportTable()">
          Export Table
        </button>
      </div>
    </div>
  </div>
</div>
