.navbar{
    padding-left:200px;
    background-color:wheat;
    opacity:70%;
   
}
.navbar-brand{
    color:brown;
    opacity:100%;
    font-weight: bold;
    font-size: 45px;
}

.button{
    margin-top:auto;
    margin-left:200px;
    background-color:white;
    color:chocolate;
    opacity:100%;
    font-weight: bold;
    border-color: wheat;
    border-radius: 10px;
    margin-top:2px;
}