@media (max-height: 600px) {
    CDBSidebar {
      height: 80vh;
    }
}

.vertical{
    font-family: "Rhodium Libre", cursive;
    font-weight: 400;
    line-height: 150%;
    font-size: 50px;
    margin-top: 100%;
}