<div class="glavni">
  <div class="levi">
    <p>ddd</p>
  </div>
  <app-popup-add></app-popup-add>
  <app-popup-emp></app-popup-emp>
  <div class="centralni">
    <div class="clevo">
      <p class="plevo">First Name:</p>
      <p class="plevo">Last Name:</p>
      <p class="plevo">Username:</p>
      <p class="plevo">Email:</p>
      <p class="plevo">Region:</p>
    </div>
    <div class="cdesno">
      <p class="pdesno">{{ myData.firstName }}</p>
      <p class="pdesno">{{ myData.lastName }}</p>
      <p class="pdesno">{{ myData.username }}</p>
      <p class="pdesno">{{ myData.email }}</p>
      <p class="pdesno">{{ Region }}</p>
      <input
        id="edit"
        class="dugme"
        type="button"
        value="Edit"
        routerLink="/DsoApp/user/{{ id }}"
      />
    </div>
  </div>

  <div class="desni">
    <app-sidebar-potrosnja></app-sidebar-potrosnja>
  </div>
</div>
