<div>
<div
  class="container-fluid d-flex px-0 py-0 mx-0 my-0"
  style="height: calc(100%-101px)"
>
  <div class="col-lg-2 mx-0 my-0 px-0 py-0" id="sidebarPotrosnjaContainer">
    <app-sidebar-potrosnja></app-sidebar-potrosnja>
  </div>
  <div
    class="col-lg-10 mx-0 my-0 px-0 py-0"
    style="overflow-y: auto; overflow-x: hidden"
  >
    <main
      class="main-content position-relative border-radius-lg col-12"
      style="overflow-y: scroll; max-height: 89.1vh;"
    >
      <div class="container-fluid py-4" id="userInfoDataContainer">
        <div class="row mt-4">
          <div class="col-lg-7 mb-lg-0 mb-4">
            <div class="card z-index-2 h-100">
              <div class="card-header" style="margin-left: 0; margin-right: 0">
                <h6>User Information</h6>
              </div>
              <div class="card-body d-flex pt-5 ps-1 pe-0">
                <div class="col-lg-8 row">
                  <div class="container-fluid d-flex">
                    <div class="col-lg-6">
                      <h4 class="text-bold mb-0">{{ firstName }}</h4>
                      <small class="text-muted mt-0">first name</small>
                    </div>
                    <div class="col-lg-6">
                      <h4 class="text-bold mb-0">{{ lastName }}</h4>
                      <small class="text-muted mt-0">last name</small>
                    </div>
                  </div>
                  <hr />
                  <div class="container-fluid d-flex">
                    <div class="col-lg-6">
                      <h4 class="text-bold mb-0">{{ username }}</h4>
                      <small class="text-muted mt-0">username</small>
                    </div>
                    <div class="col-lg-6">
                      <h4 class="text-bold mb-0">{{ email }}</h4>
                      <small class="text-muted mt-0">e-mail</small>
                    </div>
                  </div>
                  <hr />
                  <div class="container-fluid d-flex">
                    <div class="col-lg-6">
                      <h4 class="text-bold mb-0">{{ address }}</h4>
                      <small class="text-muted mt-0">address</small>
                    </div>
                    <div class="col-lg-6">
                      <h4 class="text-bold mb-0">{{ city }}</h4>
                      <small class="text-muted mt-0">city</small>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 row text-center mx-0 px-0">
                  <div
                    class="container-fluid pt-1"
                    style="
                      display: flex;
                      align-items: start;
                      justify-content: end;
                    "
                  >
                    <img
                      src="assets/images/user.png"
                      alt="User Profile Picture"
                      class="rounded-circle"
                      style="width: 80%"
                    />
                  </div>
                  <div
                    class="container-fluid d-flex me-0 pe-0"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: end;
                    "
                  >
                    <div class="col-5 px-0 me-2">
                      <input
                        id="edit"
                        type="button"
                        value="Edit"
                        routerLink="/DsoApp/user/{{ id }}"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal4"
                        class="btn"
                      />
                    </div>
                    <div class="col-5 px-0">
                      <div>
                        <input
                          id="delete"
                          type="button"
                          value="Delete"
                          disabled="{{!(letValue === 'Dso')}}"
                          (click)="DeleteUser()"
                          class="btn"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="card p-0">
              <app-history-Prosumer></app-history-Prosumer>
            </div>
          </div>
        </div>
        <div class="row mt-4 mb-2">
          <div class="col-lg-7">
            <div class="card">
              <div class="card-header">
                <h6>Devices</h6>
              </div>
              <div class="card-body px-0 py-0 mx-0 my-0 pb-1">
                <app-tabelaUredjaja></app-tabelaUredjaja>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="card p-0 mb-4">
              <app-prediction-prosumer></app-prediction-prosumer>
            </div>
            <div class="card p-0">
              <app-user-info-gauge></app-user-info-gauge>
            </div>
          </div>
        </div>
        <!-- <div class="row mt-4 mb-3">
          <div class="col-lg-5 p-0">

          </div>
        </div> -->
      </div>
    </main>
  </div>
</div>
<app-popup-add></app-popup-add>
<app-popup-emp></app-popup-emp>
<div
  class="modal fade"
  id="exampleModal4"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-white" style="background-color: #5875a1;">
        <h6>Edit User</h6>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="panelbor">
          <div class="panel-body">
            <div class="centralni">
              <div class="divinput row">
                <form [formGroup]="editUser" (ngSubmit)="UpdateData()">
                  <label class="mb-0 mt-3">First name:</label>
                  <input
                    type="text"
                    name="firstName"
                    formControlName="FirstName"
                  />
                  <label class="mb-0 mt-4">Last name:</label>
                  <input
                    type="text"
                    name="lastName"
                    formControlName="LastName"
                  />
                  <label class="mb-0 mt-4">Email</label>
                  <input
                    type="text"
                    name="email"
                    formControlName="Email"
                    class="mb-4"
                  />
                  <input
                    id="dugme"
                    type="button"
                    value="Save"
                    routerLink="/DsoApp/user/{{ id }}"
                    (click)="UpdateData()"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>