<table class="table table-striped">
  <thead class="pt-2" style="background-color: white; position: sticky; top: -1px;">
    <tr class="text-center">
      <th scope="col"></th>
      <th scope="col text-center">{{type}}</th>
      <th scope="col text-center">Predicted</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data; index as i">
      <th scope="row" class="ps-1">{{item.name}}</th>
      <td class="text-center">{{item?.series[0]?.value?.toFixed(2)}} kW</td>
      <td class="text-center">{{item?.series[1]?.value?.toFixed(2)}} kW</td>
    </tr>
  </tbody>
</table>