<div style="display: flex">
  <app-sidebar></app-sidebar>
  <div style="width: 100%">
    <app-mininavbar></app-mininavbar>
    <app-users></app-users>
  </div>
</div>
<!-- ovaj zakomentarisan izgled bi trebalo da valja kad namestimo da filter sidebar bude responzivan -->
<!-- <div class="d-flex flex-column h-100 mx-0 my-0 px-0 py-0">
  <div class="d-flex flex-grow-1  px-0 py-0 mx-0 my-0">
    <div class="flex-grow-1 col-md-2 px-0 py-0 mx-0 my-0">
      <app-sidebar></app-sidebar>
    </div>
    <div class="flex-grow-1 col-md-10 px-0 py-0 mx-0 my-0">
      <app-mininavbar></app-mininavbar>
    <app-users></app-users>
    </div>
  </div>
</div> -->