<div class="card-body pt-0 pb-4">
  <div
    class="row pt-0 mb-2"
    id="houseCont"
    style="display: flex; justify-content: center"
  >
    <div
      class="roof mt-0"
      style="width: 100%; height: 35%; margin-top: 0%"
    ></div>
    <div
      class="walls px-1 pb-1"
      style="width: 85%; height: 65%"
      id="houseWalls"
    >
      <div
        class="row px-0 py-0 mx-0 my-0"
        style="
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: start;
          align-items: center;
          overflow-y: auto;
          overflow-x: hidden;
        "
      >
        <div
          class="card px-0 py-0"
          *ngFor="let device of devices; index as i"
          [ngStyle]="{
            'background-color': device.Activity==0 ? '#D8D8D8' : '#8ee5c9'
          }"
          (click)="selectedDevice(i)"
          data-bs-toggle="modal"
          data-bs-target="#turnDeviceOffOn"
          style="cursor: pointer;"
        >
          <span
            [ngSwitch]="device.TypeId"
            style="max-width: 100%; text-align: center"
            class="p-1"
          >
            <div
              *ngSwitchCase="'1'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center" 
            >
              <div class="col-12">
                <img src="assets/images/fridge.png" [ngStyle]="{'width': widthService.deviceWidth>992 ? '25%' : '40%'}"/>
              </div>
              <div class="col-12">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'2'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center"
            >
              <div class="col-12">
                <img src="assets/images/tv.png" [ngStyle]="{'width': widthService.deviceWidth>992 ? '25%' : '40%'}"/>
              </div>
              <div class="col-12">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'3'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center"
            >
              <div class="col-12">
                <img src="assets/images/oven.png" [ngStyle]="{'width': widthService.deviceWidth>992 ? '25%' : '40%'}" />
              </div>
              <div class="col-12 ">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'4'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center"
            >
              <div class="col-12">
                <img src="assets/images/air-conditioner.png" [ngStyle]="{'width': widthService.deviceWidth>992 ? '25%' : '40%'}" />
              </div>
              <div class="col-12 ">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'5'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center"
            >
              <div class="col-12">
                <img src="assets/images/microwave.png" [ngStyle]="{'width': widthService.deviceWidth>992 ? '25%' : '40%'}" />
              </div>
              <div class="col-12">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'6'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center"
            >
              <div class="col-12">
                <img src="assets/images/dish-washer.png" [ngStyle]="{'width': widthService.deviceWidth>992 ? '25%' : '40%'}" />
              </div>
              <div class="col-12 ">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'7'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center"
            >
              <div class="col-12">
                <img src="assets/images/coffee-machine.png" [ngStyle]="{'width': widthService.deviceWidth>992 ? '25%' : '40%'}" />
              </div>
              <div class="col-12 ">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'8'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center"
            >
              <div class="col-12">
                <img src="assets/images/pc.png" [ngStyle]="{'width': widthService.deviceWidth>992 ? '25%' : '40%'}" />
              </div>
              <div class="col-12 ">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'9'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center"
            >
              <div class="col-12">
                <img src="assets/images/washing-machine.png" [ngStyle]="{'width': widthService.deviceWidth>992 ? '25%' : '40%'}" />
              </div>
              <div class="col-12 ">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'10'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center"
            >
              <div class="col-12">
                <img src="assets/images/dryer-machine.png" [ngStyle]="{'width': widthService.deviceWidth>992 ? '25%' : '40%'}" />
              </div>
              <div class="col-12 ">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'11'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center"
            >
              <div class="col-12">
                <img src="assets/images/vacuum-cleaner.png" />
              </div>
              <div class="col-12">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'12'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center"
            >
              <div class="col-125">
                <img src="assets/images/iron.png" [ngStyle]="{'width': widthService.deviceWidth>992 ? '25%' : '40%'}" />
              </div>
              <div class="col-12">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'13'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center"
            >
              <div class="col-12">
                <img src="assets/images/dryer.png" [ngStyle]="{'width': widthService.deviceWidth>992 ? '25%' : '40%'}" />
              </div>
              <div class="col-12">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'14'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center"
            >
              <div class="col-12">
                <img src="assets/images/water-heater.png" [ngStyle]="{'width': widthService.deviceWidth>992 ? '25%' : '40%'}" />
              </div>
              <div class="col-12">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'15'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center"
            >
              <div class="col-12">
                <img src="assets/images/kettle.png" [ngStyle]="{'width': widthService.deviceWidth>992 ? '25%' : '40%'}" />
              </div>
              <div class="col-12">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'16'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center"
            >
              <div class="col-12">
                <img src="assets/images/station-charging.png" [ngStyle]="{'width': widthService.deviceWidth>992 ? '25%' : '40%'}" />
              </div>
              <div class="col-12">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'17'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center"
            >
              <div class="col-12">
                <img src="assets/images/playstation.png" [ngStyle]="{'width': widthService.deviceWidth>992 ? '25%' : '40%'}" />
              </div>
              <div class="col-12">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'18'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center"
            >
              <div class="col-12">
                <img src="assets/images/smart-heater.png" [ngStyle]="{'width': widthService.deviceWidth>992 ? '25%' : '40%'}" />
              </div>
              <div class="col-12">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'19'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center"
            >
              <div class="col-12">
                <img src="assets/images/solar-panel.png" [ngStyle]="{'width': widthService.deviceWidth>992 ? '25%' : '40%'}" />
              </div>
              <div class="col-12">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'20'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center"
            >
              <div class="col-12">
                <img src="assets/images/windmill.png" [ngStyle]="{'width': widthService.deviceWidth>992 ? '25%' : '40%'}" />
              </div>
              <div class="col-12">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'21'"
              class="pt-1 text-center row text-center d-flex justify-content-center align-items-center"
            >
              <div class="col-12">
                <img src="assets/images/battery.png" [ngStyle]="{'width': widthService.deviceWidth>992 ? '25%' : '40%'}" />
              </div>
              <div class="col-12">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5%;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="legend w-100 text-center" *ngIf="devices.length != 0">
    <i class="fa fa-circle activeDevice">&nbsp;Device is active</i
    >&nbsp;&nbsp;&nbsp;
    <i class="fa fa-circle inactiveDevice">&nbsp;Device is inactive</i>
  </div>
</div>

<div
  class="modal fade"
  id="turnDeviceOffOn"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="turnDeviceOffOnLabel"
  aria-hidden="true"
> <!-- data-bs-backdrop="static" -->
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-white" style="background-color: #466471">
        <h4 class="modal-title ps-2" id="turnDeviceOffOnLabel">
          {{name}}
        </h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          style="background-color: white"
          (click)="reset()"
          id="closeturnDeviceOffOn"
        ></button>
      </div>
      <div class="modal-body row d-flex justify-content-center align-items-center">
        <div
          class="col-6 col-lg-6"
          style="display: flex; justify-content: center; align-items: center"
        >
          <div
            *ngIf="device?.Activity == 0"
            (click)="turnDeviceoffOn()"
            class="text-center p-3"
          >
            <i class="fa fa-power-off off faBtn px-2 shadow mb-2"></i>
            <p><b>Turn On?</b></p>
          </div>
          <div
            *ngIf="device?.Activity != 0"
            (click)="turnDeviceoffOn()"
            class="text-center p-3"
          >
            <i class="fa fa-power-off on faBtn px-2 shadow mb-2"></i>
            <p><b>Turn Off?</b></p>
          </div>
          <!-- <div
            *ngIf="device?.Activity == 1 && device?.CategoryId==3"
            (click)="turnDeviceoffOn()"
            class="text-center p-3"
          >
            <i class="fa fa-power-off on faBtn px-2 shadow mb-2"></i>
            <p style="color: green"><b>In Use</b></p>
          </div> -->
          <!-- <div
            *ngIf="device?.Activity == 2 && device?.CategoryId==3"
            (click)="turnDeviceoffOn()"
            class="text-center p-3"
          >
            <i class="fa fa-power-off on faBtn px-2 shadow mb-2"></i>
            <p style="color: green"><b>Charging</b></p>
          </div> -->
        </div>
        <div
          class="col-6 col-lg-6 text-center text-lg-start"
          style="display: flex; justify-content: center; align-items: center"
        >
          <button id="closeModalBtn" [hidden]="true" data-bs-dismiss="modal" data-bs-target="#turnDeviceOffOn">Close Modal</button>
          <button id="openModalBtn" [hidden]="true" data-bs-toggle="modal" data-bs-target="#turnDeviceOffOn">Open Modal</button>

          <div class="text-center p-3" (click)="navigateToPage()">
            <i class="fa fa-folder-open visit faBtn px-2 shadow mb-2" style="color: #08376b;"></i>
            <p><b>Device Page</b></p>
          </div>
        </div>
        <!-- <div class="col-12 ps-2">
          <small class="text-success" *ngIf="show"
            >Device turned {{ lastState }}!</small
          >
          <small class="text-success" *ngIf="showBattery"
            >{{batteryNofit}}</small
          >
          <small class="text-error" *ngIf="showBatteryError"
            >Error occurred! Try again later.</small
          >
        </div> -->
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="turnBatteryOn"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="turnBatteryOnLabel"
  aria-hidden="true"
> <!-- data-bs-backdrop="static" -->
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-white" style="background-color: #466471">
        <h4 class="modal-title ps-2" id="turnBatteryOnLabel">
          <!-- Turn this device {{ offOn }}? -->
          Turn On {{name}}
        </h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          style="background-color: white"
          (click)="reset()"
        ></button>
      </div>
      <div class="modal-body row d-flex justify-content-center align-items-center">
        <div
          class="col-6 col-lg-6"
          style="display: flex; justify-content: center; align-items: center"
        >
        <!-- use battery -->
          <div
            (click)="toggleStorage(1)"
            class="text-center p-3"
          >
            <i class="fa fa-power-off on faBtn px-2 shadow mb-2"></i>
            <p style="color: green"><b>Use The Battery</b></p>
          </div>
        </div>
        <div
          class="col-6 col-lg-6 text-center text-lg-start"
          style="display: flex; justify-content: center; align-items: center"
        >
          <button id="closeModalBatteryBtn" [hidden]="true" data-bs-dismiss="modal" data-bs-target="#turnBatteryOn">Close Modal</button>
          <button id="openModalBatteryBtn" [hidden]="true" data-bs-toggle="modal" data-bs-target="#turnBatteryOn">Open Modal</button>
          <!-- charge battery -->
          <div class="text-center p-3" (click)="toggleStorage(2)">
            <i class="fa fa-plug charge faBtn px-2 shadow mb-2"></i>
            <p style="color: #08376b;"><b>Charge The Battery</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
