
<div class="card-body pt-0 pb-4">
  <div
    class="row pt-0 mb-2"
    id="houseCont"
    style="display: flex; justify-content: center"
  >
    <div
      class="roof mt-0"
      style="width: 100%; height: 35%; margin-top: 0%"
    ></div>
    <div
      class="walls px-1 pb-1"
      style="width: 85%; height: 65%"
      id="houseWalls"
    >
      <div
        class="row px-0 py-0 mx-0 my-0"
        style="
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: start;
          align-items: center;
          overflow-y: auto;
          overflow-x: hidden;
        "
      >
        <div
          class="card px-0 py-0"
          *ngFor="let device of devices; index as i"
          [ngStyle]="{
            'background-color': !device.Activity ? '#D8D8D8' : '#8ee5c9'
          }"
          (click)="selectedDevice(i)"
          data-bs-toggle="modal"
          data-bs-target="#turnDeviceOffOn"
        >
          <span
            [ngSwitch]="device.TypeId"
            style="max-width: 100%; text-align: center"
          >
            <div
              *ngSwitchCase="'1'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/fridge.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'2'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/tv.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'3'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/oven.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'4'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/air-conditioner.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'5'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/microwave.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'6'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/dish-washer.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'7'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/coffee-machine.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'8'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/pc.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'9'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/washing-machine.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'10'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/dryer-machine.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'11'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/vacuum-cleaner.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'12'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/iron.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'13'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/dryer.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'14'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/water-heater.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'15'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/kettle.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'16'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/station-charging.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'17'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/playstation.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'18'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/smart-heater.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'19'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/solar-panel.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'20'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/windmill.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
            <div
              *ngSwitchCase="'21'"
              class="pt-1 text-center row text-center p-md-2"
            >
              <div class="col-12 col-md-5">
                <img src="assets/images/battery.png" />
              </div>
              <div class="col-12 col-md-7">
                <a
                  style="
                    max-width: 96%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                  >{{ device.Name }}</a
                >
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="legend w-100 text-center" *ngIf="devices.length != 0">
    <i class="fa fa-circle activeDevice">&nbsp;Device is active</i
    >&nbsp;&nbsp;&nbsp;
    <i class="fa fa-circle inactiveDevice">&nbsp;Device is inactive</i>
  </div>
</div>

<div
  class="modal fade"
  id="turnDeviceOffOn"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="turnDeviceOffOnLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-white" style="background-color: #466471">
        <h6 class="modal-title" id="turnDeviceOffOnLabel">
          Turn this device {{ offOn }}?
        </h6>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          style="background-color: white"
          (click)="reset()"
        ></button>
      </div>
      <div class="modal-body row d-flex">
        <div
          class="col-12 col-lg-5"
          style="display: flex; justify-content: center; align-items: center"
        >
          <div
            *ngIf="device?.CurrentUsage == 0"
            (click)="turnDeviceoffOn()"
            class="text-center p-3"
          >
            <i class="fa fa-power-off off"></i>
            <p style="color: red">Turned Off</p>
          </div>
          <div
            *ngIf="device?.CurrentUsage != 0"
            (click)="turnDeviceoffOn()"
            class="text-center p-3"
          >
            <i class="fa fa-power-off on"></i>
            <p style="color: green">Turned On</p>
          </div>
        </div>
        <div class="col-12 col-lg-7 text-center text-lg-start">
          <h2 style="color: #08376b">{{ device?.Name }}</h2>
          <h5 class="text-muted">IP Address: {{ device?.IpAddress }}</h5>
          <h6 *ngIf="device?.Manufacturer" class="text-muted">
            Manufacturer: {{ device?.Manufacturer }}
          </h6>
        </div>
        <div class="col-12">
          <small class="text-success" *ngIf="show"
            >Device turned {{ lastState }}!</small
          >
        </div>
      </div>
    </div>
  </div>
</div>
