<head>
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""
  />
  <script
    src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""
  ></script>
</head>

<div class="container-fluid mx-0 my-0 px-0 py-0 h-100" id="sadrzaj">
  <div class="d-flex flex-column g-0 h-100 px-0 py-0 mx-0 my-0">
    <div class="d-flex flex-grow-1 g-0 h-100 px-0 py-0 mx-0 my-0">
      <div
        class="col-md-2 px-0 py-0 mx-0 my-0"
        style="background-color: #5875a1"
      >
        <div
          class="row filters d-flex justify-content-center align-items-center h-100 w-100 px-0 py-0 mx-0 my-0"
          id="side"
        >
          <div class="header text-white ps-4 mx-0 my-0" style="height: 5%">
            <i class="fa fa-lg fa-filter" style="font-size: 1.5rem"></i
            ><span style="font-size: 1.3rem">&nbsp;<b>Filters</b></span>
          </div>
          <div
            class="body text-white text-center"
            style="
              height: 78%;
              display: flex;
              flex-direction: column;
              justify-content: center;
            "
          >
            <!-- cities -->
            <p><strong>City</strong></p>
            <select
              style="width: 90%; margin: 0 auto"
              class="form-select mb-3"
              name="Neighborhood"
              (change)="ChangeCity($event)"
              [(ngModel)]="city"
            >
              <option value="-1">All</option>
              <option
                *ngFor="let c of cities"
                [value]="c.id"
              >
                {{ c.cityName }}
              </option>
            </select>

            <!-- neighborhoods -->
            <div class="w-100" style="margin-bottom: 4%">
              <p class="mb-0"><strong>Neighborhood</strong></p>
              <select
                class="dropdown dropdown-toggle"
                style="width: 85%; margin: 0 auto"
                name="Neighborhood"
                (change)="ChangeNeighborhood($event)"
                class="form-control"
                [(ngModel)]="neighborhood"
                [disabled]="disableNeigh"
              >
                <option value="b">All</option>
                <option
                  *ngFor="let neighborhood of Neighborhoods"
                  [value]="neighborhood.id"
                >
                  {{ neighborhood.neigbName }}
                </option>
              </select>
            </div>

            <!-- power consumption -->
            <div class="w-100" style="margin-bottom: 4%">
              <strong class="mb-0">Power Consumption</strong>
              <div class="custom-slider" style="width: 80%; margin: 0 auto">
                <ngx-slider
                  [(value)]="minValueC"
                  [(highValue)]="maxValueC"
                  [options]="optionsC"
                ></ngx-slider>
              </div>
              min<input class="button1" type="text" [(ngModel)]="minValueC" />
              <input class="button2" type="text" [(ngModel)]="maxValueC" />max
            </div>

            <!-- power production -->
            <div class="w-100" style="margin-bottom: 4%">
              <strong class="mb-0">Power Production</strong>
              <div class="custom-slider" style="width: 80%; margin: 0 auto">
                <ngx-slider
                  [(value)]="minValueP"
                  [(highValue)]="maxValueP"
                  [options]="optionsP"
                ></ngx-slider>
              </div>
              min<input class="button1" type="text" [(ngModel)]="minValueP" />
              <input class="button2" type="text" [(ngModel)]="maxValueP" />max
            </div>

            <!-- number of devices -->
            <div class="w-100" style="margin-bottom: 4%">
              <strong class="mb-0">Number of Devices</strong>
              <div class="custom-slider" style="width: 80%; margin: 0 auto">
                <ngx-slider
                  [(value)]="minValue"
                  [(highValue)]="maxValue"
                  [options]="options"
                ></ngx-slider>
              </div>
              min<input class="button1" type="text" [(ngModel)]="minValue" />
              <input class="button2" type="text" [(ngModel)]="maxValue" />max
            </div>
          </div>
          <div
            class="footer"
            style="
              text-align: center;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              height: 15%;
            "
          >
            <button
              class="btn btn-primary"
              style="margin-bottom: 3%"
              (click)="filter()"
            >
              <b>Apply Filters</b>
            </button>
            <button class="btn btn-primary" (click)="reset()">
              <b>Reset Filters</b>
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-10 px-0 py-0 mx-0 my-0" id="mapCont">
        <app-mininavbar style="z-index: 9999"></app-mininavbar>
        <!-- <div class="d-flex justify-content-center">
          <div
            class="spinner-border"
            style="margin-top: 25%"
            role="status"
            *ngIf="loader"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </div> -->
        <div class="d-flex g-0 px-0 py-0 mx-0 my-0 mapLegend w-100">
          <div
            class="col-md-9 pe-0 ps-4 py-0 mx-0 my-0 d-flex justify-content-center align-items-center"
          >
            <div class="map-container" style="border: 2px solid #5875a1" id="mapWrapper">
              <div id="map"></div>
            </div>
          </div>
          <div class="col-md-3 h-100 px-0 py-0 mx-0 my-0">
            <div
              class="row d-flex justify-content-center align-items-center h-100 px-0 py-0 mx-0 my-0"
            >
              <div
                class="card mx-0 my-0"
                style="
                  width: 85%;
                  height: 38%;
                  border-radius: 5%;
                  background-color: rgb(236, 236, 238);
                "
              >
                <div class="card-body">
                  <p class="card-subtitle mb-2 mb-xxl-3" style="font-size: 82%">
                    current consumption greater than current production
                  </p>
                  <p class="mb-1" style="font-size: 14px"><b>Consuming:</b></p>
                  <p class="card-text" style="font-size: 15px">
                    <img
                      src="assets/images/marker-icon-2x-yellow.png"
                      class="icon"
                    /><b> less than 0.4 kW</b>
                  </p>
                  <p class="card-text" style="font-size: 15px">
                    <img
                      src="assets/images/marker-icon-2x-orange.png"
                      class="icon"
                    /><b> between 0.4 - 0.8 kW</b>
                  </p>
                  <p class="card-text" style="font-size: 15px">
                    <img
                      src="assets/images/marker-icon-2x-red.png"
                      class="icon"
                    /><b> more than 0.8 kW</b>
                  </p>
                  <p
                    class="position-absolute bottom-0 start-3"
                    style="font-size: 13px"
                  >
                    <i>Measured at {{ currentHour }}h</i>
                  </p>
                </div>
              </div>
              <div
                class="card mx-0 my-0"
                style="
                  width: 85%;
                  height: 38%;
                  border-radius: 5%;
                  background-color: rgb(236, 236, 238);
                "
              >
                <div class="card-body">
                  <p class="card-subtitle mb-2 mb-xxl-3" style="font-size: 82%">
                    current production greater than current consumption
                  </p>
                  <p class="mb-1" style="font-size: 14px"><b>Producing:</b></p>
                  <p class="card-text" style="font-size: 15px">
                    <img
                      src="assets/images/marker-icon-2x-turquoise.png"
                      class="icon"
                    /><b> less than 0.17 kW</b>
                  </p>
                  <p class="card-text" style="font-size: 15px">
                    <img
                      src="assets/images/marker-icon-2x-lime.png"
                      class="icon"
                    /><b> between 0.17 - 0.21 kW</b>
                  </p>
                  <p class="card-text" style="font-size: 15px">
                    <img
                      src="assets/images/marker-icon-2x-lightgreen.png"
                      class="icon"
                    /><b> more than 0.21 kW</b>
                  </p>
                  <p
                    class="position-absolute bottom-0 start-3"
                    style="font-size: 13px"
                  >
                    <i>Measured at {{ currentHour }}h</i>
                  </p>
                </div>
              </div>
              <div
                class="card mx-0 my-0"
                style="
                  width: 85%;
                  height: 10%;
                  border-radius: 5%;
                  background-color: rgb(236, 236, 238);
                "
              >
                <div class="card-body" style="padding-top: 0">
                  <p
                    class="card-subtitle"
                    style="font-size: 82%; margin-top: 4%"
                  >
                    <img
                      src="assets/images/marker-icon-2x-blueviolet.png"
                      class="icon"
                    />
                    approximately equal current consumption and production 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-popup-add></app-popup-add>
<app-popup-emp></app-popup-emp>
<app-employeedetails></app-employeedetails>
<app-worker-profile></app-worker-profile>