<div id="container">
    <section id="login">
      <div id="levo">
        
        <img id="logo" src="assets/logo.png" alt="" />
      </div>
      <div id="desno">
        <div id="loginf">
          <h1>Log In</h1>
          <form id="forma">
            <div id="username">
              <span>Email or Username</span>
              <input type="text" name="username" />
            </div>
            <div id="password">
              <span>Password</span>
              <input type="password" name="password" />
            </div>
            <div id="fp">
              <label id="forgotpass">forgot password?</label>
            </div>
            <div id="prijava">
              <input id="dugme" type="submit" value="Log In" name="prijavise" />
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
  