<!-- <app-NavBar> </app-NavBar>
<app-SideBar></app-SideBar> -->
<div class="d-flex justify-content-center">
  <div class="spinner-border" style="margin-top: 25%;" role="status" *ngIf="loader">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<section class="h-100 mx-0 my-0 px-0 py-0" *ngIf="!loader" style="background-color: #f4f5f7">
  <div class="container-fluid h-100 px-0 py-0 mx-0 my-0">
    <div
      class="row d-flex justify-content-center align-items-center mx-0 my-0 px-0 py-0 h-100"
    >
      <div class="col px-0 mx-0 my-0 py-0 h-100">
        <div class="card h-100" style="border-radius: 0">
          <div
            class="row g-0 h-100 justify-content-center align-items-center px-0 py-0"
          >
            <p>app-pocetna works!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-add-device></app-add-device>
