<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-white" style="background-color: #5875A1">
          <h5 class="modal-title" id="exampleModal2Label">Add new Employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="panelbor">
                <div class="panel-body">
                    <form [formGroup]="signupWorkerForm">                               
                        <div class="form-group pt-3 text-start">
                            <div class="input-field" [class.error]="signupWorkerForm.controls['firstName'].dirty && signupWorkerForm.hasError('required','firstName')">
                                <span class="fa fa-user p-2" style="font-size: 22px"></span>   
                                <input  formControlName="firstName" type="text" placeholder="First Name"/>                    
                            </div>
                            <small *ngIf="signupWorkerForm.controls['firstName'].dirty && signupWorkerForm.hasError('required','firstName')"  class="text-danger ps-5">*FirstName is required</small>
                        </div>
                        <div class="form-group pt-1 text-start">
                            <div class="input-field" [class.error]="signupWorkerForm.controls['lastName'].dirty && signupWorkerForm.hasError('required','lastName')">
                                <span class="fa fa-user p-2" style="font-size: 22px"></span>
                                <input formControlName="lastName" type="text" placeholder="Last Name">
                                <small *ngIf="signupWorkerForm.controls['lastName'].dirty && signupWorkerForm.hasError('required','lastName')" class="text-danger ps-5">*LastName is required</small>                    
                            </div>
                        </div>
                        <div class="form-group pt-1 ps-2 ms-1 text-start">
                            <div class="input-field" [class.error]="signupWorkerForm.controls['password'].dirty && signupWorkerForm.hasError('required','password')">
                                <span class="fa fa-lock p-2" style="font-size: 22px; margin-left: -10px;"></span>
                                <input formControlName="password" type="{{type}}" placeholder="Password">
                                <span ><i (click)="hideShowPass()" class="fa {{ eyeIcon }}" style="margin-left: -30px; font-size: 20px"></i></span>
                            </div>
                            <small *ngIf="signupWorkerForm.controls['password'].dirty && signupWorkerForm.hasError('required','password')" class="text-danger ps-5">*Password is required</small>
                        </div>
                        <div class="form-group pt-1 text-start">
                            <div class="input-field" [class.error]="signupWorkerForm.controls['email'].dirty && signupWorkerForm.hasError('required','email')">
                                <span class="fa fa-envelope p-2" style="font-size: 20px; margin-left: -4px"></span>
                                <input formControlName="email" type="text" placeholder="E-mail">                     
                            </div>
                            <small *ngIf="signupWorkerForm.controls['email'].dirty && signupWorkerForm.hasError('required','email')" class="text-danger ps-5">*Email is empty</small>
                        </div>
                        <div class="form-group pt-1 text-start">
                            <div class="input-field" [class.error]="signupWorkerForm.controls['salary'].dirty && signupWorkerForm.hasError('required','salary')">
                                <span><i class="fa fa-money p-2"></i></span>
                                <input formControlName="salary" type="text" placeholder="Salary">
                            </div>
                            <small *ngIf="signupWorkerForm.controls['salary'].dirty && signupWorkerForm.hasError('required','salary')" class="text-danger ps-5">*Salary is required</small>
                        </div>
                        <div class="form-group pt-1 text-start">
                            <div class="input-field" [class.error]="signupWorkerForm.controls['image'].dirty && signupWorkerForm.hasError('required','image')">
                                <span class="fa fa-user p-2" style="font-size: 22px"></span>
                                <input formControlName="image" type="text" placeholder="Image">
                            </div>
                            <small *ngIf="signupWorkerForm.controls['image'].dirty && signupWorkerForm.hasError('required','image')" class="text-danger ps-5">*Image is required</small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit"  class="btn" (click)="onSubmit();">Confirm</button>
        </div>
    </div>
</div>
