<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModal2Label"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-white" style="background-color: #5875a1">
        <h5 class="modal-title" id="exampleModalLabel2">Add New Employee</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="close()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="panelbor">
          <div class="panel-body">
            <form [formGroup]="signupWorkerForm">
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    signupWorkerForm.controls['firstName'].dirty &&
                    signupWorkerForm.hasError('required', 'firstName')
                  "
                  style="display: flex; justify-content: center"
                >
                  <!-- <label class="lbl">FirstName:</label> -->
                  <span
                    class="fa fa-user p-2"
                    style="font-size: 24px; margin-top: 1%"
                  ></span>
                  <input
                    formControlName="firstName"
                    type="text"
                    placeholder="First Name"
                  />
                </div>
              </div>
              <small
                *ngIf="
                  signupWorkerForm.controls['firstName'].dirty &&
                  signupWorkerForm.hasError('required', 'firstName')
                "
                class="text-danger"
                >*FirstName is required</small
              >
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    signupWorkerForm.controls['lastName'].dirty &&
                    signupWorkerForm.hasError('required', 'lastName')
                  "
                  style="display: flex; justify-content: center"
                >
                  <!-- <label class="lbl">LastName:</label> -->
                  <span
                    class="fa fa-user p-2"
                    style="font-size: 24px; margin-top: 1%"
                  ></span>
                  <input
                    formControlName="lastName"
                    type="text"
                    placeholder="Last Name"
                  />
                </div>
              </div>
              <small
                *ngIf="
                  signupWorkerForm.controls['lastName'].dirty &&
                  signupWorkerForm.hasError('required', 'lastName')
                "
                class="text-danger"
                >*LastName is required</small
              >
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    signupWorkerForm.controls['password'].dirty &&
                    signupWorkerForm.hasError('required', 'password')
                  "
                  style="display: flex; justify-content: center"
                >
                  <!-- <label class="lbl">Password:</label> -->
                  <span
                    class="fa fa-lock p-2"
                    style="font-size: 24px; margin-top: 1%"
                  ></span>
                  <input
                    formControlName="password"
                    type="{{ type }}"
                    placeholder="Password"
                  />
                  <span
                    class="p-viewer"
                    style="z-index: 9999; position: absolute; right: 10%"
                    ><i
                      (click)="hideShowPass()"
                      class="fa {{ eyeIcon }}"
                      style="font-size: 20px; margin-top: 60%"
                    ></i
                  ></span>
                </div>
              </div>
              <small
                *ngIf="
                  signupWorkerForm.controls['password'].dirty &&
                  signupWorkerForm.hasError('required', 'password')
                "
                class="text-danger"
                >*Password is required</small
              >

              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    signupWorkerForm.controls['email'].dirty &&
                    signupWorkerForm.hasError('required', 'email')
                  "
                  style="display: flex; justify-content: center"
                >
                  <!-- <label class="lbl">Email:</label> -->
                  <span
                    class="fa fa-envelope p-2"
                    style="font-size: 20px; margin-top: 2%"
                  ></span>
                  <input
                    formControlName="email"
                    type="text"
                    placeholder="E-mail"
                  />
                </div>
              </div>
              <small
                *ngIf="
                  signupWorkerForm.controls['email'].dirty &&
                  signupWorkerForm.hasError('required', 'email')
                "
                class="text-danger"
                >*Email is empty</small
              >
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    signupWorkerForm.controls['salary'].dirty &&
                    signupWorkerForm.hasError('required', 'salary')
                  "
                  style="display: flex; justify-content: center"
                >
                  <!-- <label class="lbl">Salary:</label> -->
                  <span style="font-size: 20px; margin-top: 2%"
                    ><i class="fa fa-money p-2"></i
                  ></span>
                  <input
                    formControlName="salary"
                    type="text"
                    placeholder="Salary"
                  />
                </div>
              </div>
              <small
                *ngIf="
                  signupWorkerForm.controls['salary'].dirty &&
                  signupWorkerForm.hasError('required', 'salary')
                "
                class="text-danger"
                >*Salary is required</small
              >
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    signupWorkerForm.controls['image'].dirty &&
                    signupWorkerForm.hasError('required', 'image')
                  "
                  style="display: flex; justify-content: center"
                >
                  <span style="font-size: 20px; margin-top: 2%"
                    ><i class="fa fa-image p-2"></i
                  ></span>
                  <input
                    type="file"
                    id="image"
                    formControlName="image"
                    name="images"
                    accept="image/png, image/jpeg,image/jpg"
                  />
                </div>
              </div>

              <button type="submit" class="btn col-md-5" (click)="onSubmit()">
                Confirm
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
