<header>
  <CDBNavbar
    style="
      background-color: #e8f3f8;
      display: flex;
      justify-content: space-between;
    "
    [dark]="true"
    expand="lg"
    [scrolling]="true"
  >
    <CDBNavBrand>
      <img id="logo" src="assets/images/logo.png" height="75" alt="" />
    </CDBNavBrand>
    <CDBNavToggle
      (click)="content.toggleCollapse()"
      style="background-color: #5875a1"
    ></CDBNavToggle>
    <CDBCollapse
      id="myClass"
      #content
      class="w-100"
      class="myClass"
      [navbar]="true"
      expand="lg"
    >
      <CDBNavbarNav class="d-flex align-items-center">
        <CDBNavItem [active]="true" style="width: 140px">
          <CDBBtn
            [flat]="true"
            color="dark"
            style="
              padding: 0;
              background-color: #5875a1;
              border: 0;
              font-weight: bold;

              border-radius: 20px;
              width: 90%;
              vertical-align: middle;
            "
          >
            <CDBNavLink routerLink="/dashboard" style="color: white">
              Home
            </CDBNavLink>
          </CDBBtn>
        </CDBNavItem>
        <CDBNavItem style="width: 140px">
          <CDBBtn
            [flat]="true"
            color="dark"
            style="
              padding: 0;
              background-color: #e8f3f8;
              border: 0;
              font-weight: bold;
              border-radius: 20px;
              width: 90%;
              vertical-align: middle;
            "
          >
            <CDBNavLink routerLink="/users" style="color: #5875a1"
              >Users
            </CDBNavLink>
          </CDBBtn>
        </CDBNavItem>
        <CDBNavItem style="width: 140px">
          <CDBBtn
            [flat]="true"
            color="dark"
            style="
              padding: 0;
              background-color: #e8f3f8;
              border: 0;
              font-weight: bold;
              border-radius: 20px;
              width: 90%;
              vertical-align: middle;
            "
          >
            <CDBNavLink routerLink="/employees" style="color: #5875a1">
              Employees
            </CDBNavLink>
          </CDBBtn>
        </CDBNavItem>
        <CDBNavItem>
          <CDBDropDown
            class="nav-link"
            style="padding: 0; background-color: #e8f3f8"
          >
            <CDBDropDownToggle
              style="
                padding: 0;
                background-color: #e8f3f8;
                color: #5875a1;
                font-weight: bold;
                border-radius: 20px;
                vertical-align: middle;
                margin: 0;
              "
              (click)="menu.toggleDropdown($event)"
            >
              <div class="navbar-profile-picture me-2">
                <img
                  src="assets/images/user.png"
                  alt="User Profile Picture"
                  class="rounded-circle"
                  width="40"
                  height="40"
                />
              </div>
            </CDBDropDownToggle>
            <CDBDropDownMenu #menu="cdbDropdownMenu" placement="bottom">
              <CDBDropDownItem routerLink="../home/pocetna"
                >Cold place</CDBDropDownItem
              >
              <CDBDropDownItem routerLink="../login">Second</CDBDropDownItem>
              <CDBDropDownItem routerLink="home">Last</CDBDropDownItem>
            </CDBDropDownMenu>
          </CDBDropDown>
        </CDBNavItem>
      </CDBNavbarNav>
    </CDBCollapse>
  </CDBNavbar>
</header>
