
<div class="mb-3">
    <label for="currentPass" class="form-label">Current Password</label>
    <input type="password" class="form-control" id="currentPass" [(ngModel)]="currentPass">
</div>
<div class="mb-3">
    <label for="newPass" class="form-label">New Password</label>
    <input type="password" class="form-control" id="newPass" [(ngModel)]="newPass">
</div>
<div class="mb-3">
    <label for="confirmNewPass" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="confirmNewPass" [(ngModel)]="confirmNewPass">
</div>

