 <body>
 <nav>
    <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
         <i class="fa-solid fa-bars"></i>
       </label>
               
    <label class="logo">Student</label>
    <i class="fa-solid fa-graduation-cap fa-4x" style="color:aliceblue"></i>
        <ul>
            <li><a class="active" href="#">Studenti</a></li>
            <li><a href="#">Prijave</a></li>      
        </ul>
    </nav>
    <div class="container">
    <div class="studeti_container">
        <div class="studenti_form">
              <form #form="ngForm" (ngSubmit)="onSubmit()"> 
                <div class="form-group">
                  <label for="ime">Ime</label>
                  <input type="text" class="form-control" name="ime" id="ime" [(ngModel)]="student.ime">
                </div>
                <div class="form-group">
                    <label for="prezime">Prezime</label>
                    <input type="text" class="form-control" name="prezime" id="prezime" [(ngModel)]="student.prezime">
                </div>
                <div class="form-group">
                    <label for="indeks">Indeks</label>
                    <input type="text" class="form-control" name="indeks" id="indeks" [(ngModel)]="student.indeks">
                </div>
                <div class="form-group">
                    <label for="pol">Pol</label>
                    <input type="text" class="form-control" name="pol" id="pol" [(ngModel)]="student.pol">
                </div>
                <div class="form-group">
                    <button>Unesi Studenta</button>
                </div>
              </form>  
        </div>
        <div class="student_grid">
            <div class="student_row"  *ngFor="let student of listaS">
                <div class="student_details">
                    <span>{{student.ime}}</span>
                    <span>{{student.prezime}}</span>
                    <span>{{student.indeks}}</span>
                </div>
                <div class="student_action">
                    <a (click)="deleteStudent(student.id)"><i class="fa-solid fa-burst fa-3x"></i></a>
                </div>
            </div>
            

        </div>
    </div>
</div>


 

</body>


