* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#tabela {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
.container {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .row {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cards {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  flex: 1 1 20rem;
  display: flex;
  align-items: center;
  margin: 5px 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  flex-direction: column;
  align-self: normal;
  max-width: 23%;
  min-width: 190px;
  background: #e5f5ed;
  box-shadow: 4px 5px 10px #59747f;
  border-radius: 20px;
  font-family: "Roboto";
  color: #08376b;
  margin-right: 10px auto;
}

.card img {
  width: 35%;
}

.card h4 {
  color: #08376b;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #08376b;
}
.card h6 {
  color: #08376b;
}

.card p {
  margin-bottom: 10px;
  color: #08376b;
}

.card .btn {
  margin-top: auto;
  margin-bottom: 2%;
  display: inline-block;
  background: green;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radious: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#rowCheck {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
@media only screen and (max-width: 850px) {
  #rowCheck {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
  }
}
