<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.95)"
  size="small"
  color="#fff"
  type="ball-clip-rotate"
  [showSpinner]="true"
  [fullScreen]="true"
  [zIndex]="9999"
  ><p style="font-size: 25px; color: white">Loading Data...</p></ngx-spinner
>
<div style="overflow-y: scroll">
  <h1
    style="
      margin: 1% 2% 1% 2%;
      font-family: Rhodium Libre;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 55px;
      letter-spacing: 0.03em;
      text-align: center;
      color: #08376b;
      font-weight: bold;
    "
  >
    USER DEVICES
  </h1>
  <div class="row" id="rowCheck">
    <div class="col-2" style="display: flex; justify-content: center">
      <div class="form-check" style="margin-right: 10%">
        <input
          class="form-check-input"
          type="checkbox"
          value="1"
          id="flexCheckDefault"
          [(ngModel)]="consumers"
          (change)="filterDevices()"
        />
        <p class="form-check-label" for="flexCheckDefault">Consumers</p>
      </div>
    </div>
    <div class="col-2" style="display: flex; justify-content: center">
      <div class="form-check" style="margin-right: 10%">
        <input
          class="form-check-input"
          type="checkbox"
          value="2"
          id="flexCheckDefault1"
          [(ngModel)]="producers"
          (change)="filterDevices()"
        />
        <label class="form-check-label" for="flexCheckDefault1">
          Producers
        </label>
      </div>
    </div>
    <div class="col-2" style="display: flex; justify-content: center">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="3"
          id="flexCheckDefault2"
          [(ngModel)]="storages"
          (change)="filterDevices()"
        />
        <label class="form-check-label" for="flexCheckDefault2">
          Storages
        </label>
      </div>
    </div>
  </div>
</div>
<div id="tabela">
  <div class="container">
    <div class="row" style="width: 100%">
      <div
        class="card"
        *ngFor="let device of devicesToShow"
        routerLink="/ProsumerApp/userDevices/{{ device.Id }}/deviceinfo"
      >
        <table style="margin: 3%; width: 95%">
          <tr style="display: flex; justify-content: space-between">
            <span class="col-3" [ngSwitch]="device.TypeId">
              <div *ngSwitchCase="'1'">
                <img src="assets/images/fridge.png" />
              </div>
              <div *ngSwitchCase="'2'">
                <img src="assets/images/tv.png" />
              </div>
              <span *ngSwitchCase="'3'"
                ><img src="assets/images/oven.png"
              /></span>
              <span *ngSwitchCase="'4'"
                ><img src="assets/images/air-conditioner.png"
              /></span>
              <span *ngSwitchCase="'5'"
                ><img src="assets/images/microwave.png"
              /></span>
              <span *ngSwitchCase="'6'"
                ><img src="assets/images/dish-washer.png"
              /></span>
              <span *ngSwitchCase="'7'"
                ><img src="assets/images/coffee-machine.png"
              /></span>
              <span *ngSwitchCase="'8'"
                ><img src="assets/images/pc.png"
              /></span>
              <span *ngSwitchCase="'9'"
                ><img src="assets/images/washing-machine.png"
              /></span>
              <span *ngSwitchCase="'10'"
                ><img src="assets/images/dryer-machine.png"
              /></span>
              <span *ngSwitchCase="'11'"
                ><img src="assets/images/vacuum-cleaner.png"
              /></span>
              <span *ngSwitchCase="'12'"
                ><img src="assets/images/iron.png"
              /></span>
              <span *ngSwitchCase="'13'"
                ><img src="assets/images/dryer.png"
              /></span>
              <span *ngSwitchCase="'14'"
                ><img src="assets/images/water-heater.png"
              /></span>
              <span *ngSwitchCase="'15'"
                ><img src="assets/images/kettle.png"
              /></span>
              <span *ngSwitchCase="'16'"
                ><img src="assets/images/station-charging.png"
              /></span>
              <span *ngSwitchCase="'17'"
                ><img src="assets/images/playstation.png"
              /></span>
              <span *ngSwitchCase="'18'"
                ><img src="assets/images/smart-heater.png"
              /></span>
              <span *ngSwitchCase="'19'"
                ><img src="assets/images/solar-panel.png"
              /></span>
              <span *ngSwitchCase="'20'"
                ><img src="assets/images/windmill.png"
              /></span>
            </span>
            <span style="width: 50%" [ngSwitch]="device.CategoryId">
              <h5 *ngSwitchCase="'1'" style="text-align: right">Consumption</h5>
              <h5 *ngSwitchCase="'2'" style="text-align: right">Production</h5>
              <h5 *ngSwitchCase="'3'" style="text-align: right">Storage</h5>
              <h5 style="text-align: right">
                {{ deviceUsages[device.Id].toFixed(2) }} kW
              </h5>
            </span>
          </tr>

          <tr>
            <td>
              <h4>{{ device.Name }}</h4>
            </td>
          </tr>
          <tr
            style="display: flex; justify-content: space-between; width: 100%"
          >
            <h5 class="h">IP {{ device.IpAddress }}</h5>
            <ng-template #other style="vertical-align: super">
              <mat-slide-toggle
                id="toggleOff"
                class="example-margin"
                [color]="color"
                [checked]="notChecked"
                [disabled]="disabled"
              >
                Off
              </mat-slide-toggle></ng-template
            >
            <div *ngIf="deviceUsages[device.Id] !== 0; else other">
              <div>
                <mat-slide-toggle
                  id="toggleOn"
                  style="vertical-align: super"
                  class="example-margin"
                  [color]="color"
                  [checked]="checked"
                  [disabled]="disabled"
                >
                  On
                </mat-slide-toggle>
              </div>
            </div>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
