<div class="mb-3">
    <label for="firstName" class="form-label">IP Address</label>
    <input type="text" class="form-control" id="ipaddress" [(ngModel)]="IpAddress" placeholder="First Name">
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Device Type</label>
    <input type="text" class="form-control" id="typename" [(ngModel)]="TypeName" placeholder="Last Name"></div>
  <div class="mb-3">
    <label for="email" class="form-label">Device Model</label>
    <input type="text" class="form-control" id="manufacturer" [(ngModel)]="Manufacturer" placeholder="E-mail">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Device Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="Name" placeholder="E-mail">
  </div>
  <small class="text-danger" *ngIf="notFilled">*All fileds must be populated</small>
  <small class="text-success" *ngIf="success">Information successfully edited!</small>
  <small class="text-danger" *ngIf="failure">Error occurred. Try again later.</small>
