<table class="table table-striped">
  <thead>
    <tr class="text-center">
      <th scope="col"></th>
      <th scope="col text-center">{{ type }} (kWh)</th>
      <th scope="col text-center">Prediction (kWh)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of data[0]?.values; let i = index">
      <th scope="row" class="ps-4">{{ value.x }}</th>
      <td
        class="text-center"
        [ngStyle]="{ color: type === 'Consumption' ? '#c14b48' : '#3ea7a8' }"
      >
        {{ value.y.toFixed(2) }}
      </td>
      <td
        class="text-center"
        [ngStyle]="{
          color:
            type === 'Consumption' ? 'rgb(204, 157, 29)' : 'rgb(152, 165, 31)'
        }"
      >
        {{ data[1].values[i].y.toFixed(2) }}
      </td>
    </tr>
  </tbody>
</table>
