<div class="card-body">
    <div class="container-fluid pb-2" style="display: flex; flex-direction: column; align-items: center; justify-content: center;" id="devicesStatusBody">
        <div class="row px-0 py-0 mx-0 my-0 mb-2 trenutneInformacije">
            <div class="col-6 px-0">
                <div class="row px-0 py-0 mx-0 my-0 w-100 text-center devicesConsumption">
                    <h5 class="mb-0">{{currentConsumption}} kW</h5>
                    <p class="mt-0">Consumption</p>
                </div>
            </div>
            <div class="col-6 px-0">
                <div class="row px-0 py-0 mx-0 my-0 w-100 text-center devicesProduction">
                    <h5 class="mb-0">{{currentProduction}} kW</h5>
                    <p class="mt-0">Production</p>
                </div>
            </div>
            <!-- <div class="col-4 px-0">
                <div class="row px-0 py-0 mx-0 my-0 w-100 text-center text-success">
                    <h5 class="mb-0">0kW</h5>
                    <p class="mt-0">Storage</p>
                </div>
            </div> -->
        </div>
        <div class="container-fluid px-0 py-0 mx-0 my-0" style="display: flex; flex-direction: column; align-items: center; justify-content: center; overflow: hidden;">
            <div class="w-100" style="overflow-y: auto; overflow-x: hidden;">
                <div *ngFor="let device of devices">
                    <div *ngIf="device.Timestamps.power!==0">
                        <h4 class="small font-weight-bold">{{device.Name}} <span
                            class="float-right">{{device.Timestamps.power.toFixed(3)}} kW</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" 
                            [ngStyle]="{'width':getProcentage(device, device.CategoryId)+'%','background-color': device.CategoryId=='1'? '#c14b48' : '#48bec1'}"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
