<div class="card-header">
    <div class="row">
        <div class="col-5 mx-0 my-0">
            <h6>This Months Consumption/Production</h6>
        </div>
        <div class="col-7 mx-0 my-0" style="display: flex; justify-content: right; margin: 0px 0px 2px auto">
            <button
                (click)="Consumption()"
                style="margin: 1px"
                type="button"
                class="btn btn-outline-primary"
            >
                Consumption
            </button>
            <button
                (click)="Production()"
                style="margin: 1px"
                type="button"
                class="btn btn-outline-primary"
            >
                Production
            </button>
        </div>
    </div>
</div>
<div class="card-body" style="width: 100%; padding-top: 5%;" id="userInfoGaugeChartCardBody">
    <div class="w-100 px-0 py-0 mx-0 my-0" style="display: flex; justify-content: center; align-items: center;" id="userInfoGaugeChart">
        <ngx-gauge class="text-size"
            [type]="'semi'"
            [size]="width"
            [label]="gaugeLabel"
            [append]="gaugeAppendText"
            [min]="0"
            [max]="1700"
            [markers]="markers"
            [value]="data"
            [cap]="'butt'"
            [thick]="40"
            [thresholds]="thresholds">
        </ngx-gauge>
    </div>
    <div class="legend w-100 text-center mx-0 my-0" *ngIf="showLegend">
        <i class="fa fa-circle greenZone">&nbsp;0-350 kW</i>&nbsp;&nbsp;&nbsp;
        <i class="fa fa-circle blueZone">&nbsp;351-1600 kW</i>&nbsp;&nbsp;&nbsp;
        <i class="fa fa-circle redZone">&nbsp;1601+ kW</i>
    </div>
</div>

