.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn-close {
  color: white;
  background-color: white;
}
.btn-primary {
  background-color: #5875a1;
  border-color: #5875a1;
}
.consumption {
  color: #c14b48;
}
.prediction {
  color: #80bc00;
}
.realizationPredictionbtn.active {
  background-color: #c1d3df;
  border-color: #5875a1;
  color: #5875a1;
}
