<div class="container-fluid">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row" style="margin-bottom: 2%">
          <div class="col-sm-3">
            <h2 class="text-center"><b>User Overview</b></h2>
          </div>
          <div class="col-sm-2" style="margin-left: 40%">
            <div class="search-box" style="margin-right: 1%">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="material-icons" style="margin-left: 2%"></i></span
                >
                <input
                  type="text"
                  [(ngModel)]="searchName"
                  style="background-color: #f8f8fa; border-radius: 10px"
                  class="form-control"
                  placeholder="By Username"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="search-box">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="material-icons" style="margin-left: 2%"></i></span
                >
                <input
                  type="text"
                  [(ngModel)]="searchAddress"
                  style="background-color: #f8f8fa; border-radius: 10px"
                  class="form-control"
                  placeholder="By Address"
                />
              </div>
            </div>
          </div>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th></th>
              <th>Username<i class="fa fa-sort"></i></th>
              <th>Address<i class="fa fa-sort"></i></th>

              <th>Consumption <i class="fa fa-sort"></i></th>
              <th>Production <i class="fa fa-sort"></i></th>
              <th>Number of devices <i class="fa fa-sort"></i></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of service.prosumers
                  | search : searchName
                  | searchaddress : searchAddress
                  | paginate
                    : {
                        itemsPerPage: perPage,
                        currentPage: page,
                        totalItems: total
                      };
                let i = index
              "
            >
              <td>
                <img
                  src="assets/images/user.png"
                  style="width: 30px; height: 30px"
                />
              </td>
              <td>{{ item.username }}</td>
              <td>{{ item.address }}</td>

              <td></td>
              <td></td>
              <td></td>
              <td>
                <button class="button-info" (click)="Details(item.id)">
                  <b>info</b>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div style="float: left; padding-left: 35%; margin-top: 1.5%">
          <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)"
          >
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
