<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.95)"
  size="small"
  color="#fff"
  type="ball-clip-rotate"
  [showSpinner]="true"
  [fullScreen]="true"
  [zIndex]="9999"
  ><p style="font-size: 25px; color: white">Loading Data...</p></ngx-spinner
>
<div>
  <div
    class="card-header pb-0 pt-3 bg-transparent row"
    style="margin-left: 0; margin-right: 0"
  >
    <div class="col-5">
      <h6 class="text-capitalize">Realization and Prediction Chart</h6>
    </div>
    <div
      class="col-7"
      style="
        display: flex;
        justify-content: right;
        margin: auto;
        padding-bottom: 2px;
      "
    >
      <button
        class="btn"
        (click)="HistoryWeek()"
        style="margin: 1px"
        type="button"
        class="btn btn-outline-primary"
      >
        7Days
      </button>
      <button
        class="btn"
        (click)="HistoryMonth()"
        style="margin: 1px"
        type="button"
        class="btn btn-outline-primary"
      >
        1Month
      </button>
      <button
        class="btn"
        (click)="HistoryYear()"
        type="button"
        style="margin: 1px"
        class="btn btn-outline-primary"
      >
        1Year
      </button>
    </div>
  </div>
  <div style="width: 99%; margin: 0 auto; margin-top: 1%; height: 70%">
    <ngx-charts-line-chart
      [scheme]="colors"
      [results]="data"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false"
      [animations]="false"
      [roundDomains]="false"
      [showGridLines]="true"
      [trimYAxisTicks]="true"
      [tooltipDisabled]="false"
      [showGridLines]="true"
      [legend]="true"
      [yAxisTickFormatting]="yAxisTickFormatting"
    >
    </ngx-charts-line-chart>

    <h1
      *ngIf="!data"
      style="
        text-align: center;
        margin-top: 15%;
        opacity: 20%;
        font-style: italic;
        font-weight: normal;
      "
    >
      There is no available Data
    </h1>
  </div>
</div>
